/*@font-face {
  font-family: 'ac';
  src: url('../fonts/Test_font.ttf') format('truetype')  ;
  font-weight: normal;
  font-style: normal;
}
.fac::before {
  color: #666;
  font-size: 64px;
  margin-left: 0;
}
[class^="fac-"]::before,
[class*=" fac-"]::before,
[class^="fac-"]::after,
[class*=" fac-"]::after {
  color: #333;
  font-family: ac;
  font-size: 30px;
  font-style: normal;
  margin-left: 20px;
}
.fac-a1::before {
  content: "\0021";
}*/
/*
font-family: 'Open Sans', sans-serif;

font-family: 'Lato', sans-serif;

font-family: 'Oswald', sans-serif;

font-family: 'Montserrat', sans-serif;

font-family: 'Georgia-Regular' , sans-serif;

font-family: 'Roboto', sans-serif;

*/
/*==========================================================

	2. GENERAL

==========================================================*/
body {
  max-width: 1920px;
  margin: auto;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #333333;
  background-color: #f9f9f9;
  overflow-x: hidden;
}
a {
  /*color: #333333;*/
  color: #f67004;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  color: #f67004;
}
img {
  max-width: 100%;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}
.video-responsive {
  height: 0;
  padding-top: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}
.video-responsive embed,
.video-responsive iframe,
.video-responsive iframe,
.video-responsive video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border: none;
}
.audio-responsive iframe {
  width: 100%;
  height: 126px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}
[class^="col-sm"],
[class^="col-md"],
[class^="col-lg"] {
  padding: 0 10px;
}

/*==========================================================

	4. HEADER

==========================================================*/
#header {
  background-color: #fff;
  box-shadow: 0 3px 2px -2px #ccc;
}
#header .container {
  position: relative;
}
#header .nav-menu {
}




#header .nav-menu .close-nav {
  display: none;
}
#header .nav-menu .nav:before,
#header .nav-menu .nav:after {
  content: "";
  display: table;
}
#header .nav-menu .nav:after {
  clear: both;
}
#header .nav-menu .nav > li {
  cursor: pointer;
  display: block;
}

#header .nav-menu .nav > li.active ,
#header .nav-menu .nav > li:hover
{
  color: #f67004;
}
/*#header .nav-menu .nav > li .dropdown-toggle:after {
  content: "\f0d7";
  font-family: "FontAwesome";
  margin-left: 5px;
  font-size: 14px;
  line-height: 1;
}*/
#header .nav-menu .nav > li.active > a,
#header .nav-menu .nav > li:hover > a
{
  color: #f67004;
}
@media (min-width: 992px) {
  #header .nav-menu .nav > li {
    float: left;
    position: relative;
  }
}


@media (max-width: 991px) {
  .logo {
    float: left;
    margin-right: 0px;
    width: 100%;
  }


  #header .navbar-left {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    bottom: 0;
    background-color: #f3f3f3;
    z-index: 2000;
    padding-top: 45px;
    visibility: hidden;
    opacity: 0;
    margin-top: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);

  }
  #header .navbar-left.has-open {
    right: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  #header .navbar-right {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    bottom: 0;
    background-color: #f3f3f3;
    z-index: 2000;
    padding-top: 45px;
    visibility: hidden;
    opacity: 0;
    margin-top: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  }
  #header .navbar-right.has-open {
    left: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  #header .navbar-right .nav {
    float: left !important;
    width: 100%;
  }

  #header .nav-menu .close-nav {
    width: 40px;
    line-height: 40px;
    cursor: pointer;
    background-color: #ccc;
    display: block;
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
  }
  #header .nav-menu .close-nav:before {
    font-family: 'FontAwesome';
    content: "\f00d";
  }
  #header .nav-menu .close-nav span {
    display: none;
  }
  #header .nav-menu .nav {
    padding: 0 10px;
    overflow-y: auto;
    height: 100%;
  }
  #header .nav-menu > .nav > li {
    float: none;
    margin-right: 0px;
  }
  #header .nav-menu .nav > li {
    border-bottom: 1px solid #dfdfdf;
    position: relative;
    padding: 5px 0;
  }


  #header .nav-menu .nav > li > a {
    position: relative;
    z-index: 10;

    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    line-height: 38px;
    padding: 0 20px;
    color: #333;
  }

  #header .navbar-left .nav > li .dropdown-menu li a{
    border-top: none;
    text-indent: 20px;
  }

  #header .nav-menu .nav > li .dropdown-menu {
    position: static;
    border: none;
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    margin-top: 10px;

  }

  #header .nav-menu .nav > li .dropdown-menu::after,
  #header .nav-menu .nav > li .dropdown-menu::before {
    content: none;
    height: 0;
  }


}
#header .nav-menu #product-cart-mini,
#header .nav-menu #product-my-favorited
{
  margin-top: 5px;
}
#header .nav-menu  .badge {
  left: 17px;
  position: absolute;
  top: 17px;
}
/*========dropdow=========*/

.drop-dropdown .heading {
  padding: 10px 15px;
  display: block;
  background-color: #F9F9F9;
}
.drop-dropdown .heading .title {
  text-transform: uppercase;
}
.drop-dropdown .heading .check-count {
  text-transform: capitalize;
  color: #f7941e;
}
.drop-dropdown .logo-job {
  max-width: 29px;
  margin-right: 5px;
  margin-top: 4px;
}
.drop-dropdown .text-job {
  overflow: hidden;
  display: block;
  font-weight: bold;
  text-transform: none;
}
.drop-dropdown .text-job .name-cty {
  font-weight: 400;
}
.drop-dropdown .text-job .phu-hop {
  color: #f7941e;
  font-weight: 400;
}


/*=======logo=========*/
.logo {
  display: table;
  text-align: center;
  /* width: 151px;*/
  height: 71px;
  margin-right: 40px;
}
.logo a {
  display: table-cell;
  vertical-align: middle;
}
.logo a img {
  display: inline-block;
  max-width: 150px;
  max-height: 70px;
}

.dropdown-login > a .icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/icon/log-out-1.png);
}
.dropdown-login > a:hover .icon {
  background-image: url(../img/icon/log-out-2.png);
}
.dropdown-login > a:focus .icon {
  background-image: url(../img/icon/log-out-3.png);
}
.dropdown-singup > a .icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/icon/sigup-1.png);
}
.dropdown-singup > a:hover .icon {
  background-image: url(../img/icon/sigup-2.png);
}
.dropdown-singup > a:focus .icon {
  background-image: url(../img/icon/sigup-3.png);
}



/*====================*\
//Menu
\*====================*/
.nav-menu > .nav {
}
.nav-menu > .nav > li {
  float: left;
  margin-right: 35px;
}
.nav-menu > .nav > li:last-child {
  margin-right: 0;
}
.nav-menu > .nav > li > a {
  line-height: 71px;
  min-width: 10px;
  display: block;
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #494949;
}
.nav-menu > .nav > li > a:hover,
.nav-menu > .nav > li > a.active{
  background-color: transparent;
  color: #ffab4b;
}
.nav-menu > .nav > li > a:focus {
  background-color: transparent;
  color: #eb8305;
}
.nav-menu > .nav > li > a span {
  display: inline-block;
  vertical-align: middle;
}
.nav-menu > .nav > li.active > a {
  color: #ffab4b;
}
.nav-menu > .nav > .open > a {
  background-color: transparent;
  color: #ffab4b;
}
.nav-menu > .nav > .open > a:focus {
  background-color: transparent;
  color: #eb8305;
}


.nav-menu > .nav > li > a.btn {
  line-height: 30px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
}
.nav-menu > .nav > li > a.btn:hover {
  line-height: 30px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background-color: #ffab4b;
}
.nav-menu > .nav > li > a.btn-outline {
  color: #eb8305;
}
.caret {
  width: 11px;
  height: 8px;
  border: none;
  background-image: url(../img/icon/down.png);
  background-repeat: no-repeat;
  background-position: center;
}
.open .caret {
  background-image: url(../img/icon/down.png);
}

.dropdown-user .name {
  direction: rtl;
  padding: 0 6px;
  max-width: 120px;
  text-overflow: ellipsis;
  text-transform: capitalize;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

.caret-user {
  display: block;
  width: 32px;
  height: 42px;
  background-image: url(../img/icon/ung-vien-tai-khoan-1.png);
  background-repeat: no-repeat;
  background-position: center;
}
a:hover .caret-user {
  background-image: url(../img/icon/ung-vien-tai-khoan-2.png);
}
.open .caret-user {
  background-image: url(../img/icon/ung-vien-tai-khoan-3.png);
}
.caret-user.user-td {
  background-image: url(../img/icon/nha-TD-tai-khoan-1.png);
}
a:hover .caret-user.user-td {
  background-image: url(../img/icon/nha-TD-tai-khoan-2.png);
}
.open .caret-user.user-td {
  background-image: url(../img/icon/nha-TD-tai-khoan-3.png);
}
.caret-user.user-uv {
  background-image: url(../img/icon/ung-vien-tai-khoan-1.png);
}
a:hover .caret-user.user-uv {
  background-image: url(../img/icon/ung-vien-tai-khoan-2.png);
}
.open .caret-user.user-uv {
  background-image: url(../img/icon/ung-vien-tai-khoan-3.png);
}
/* Fix khong click dc tren mobile*/
.dropdown-backdrop {
  z-index: 0;
}
.dropdown-menu {
  padding: 0;
  background-color: #fff;
  width: 270px;
  border: 2px solid #e0e0e0;
  border-radius: 0;
}
.nav-menu .dropdown-menu {
  margin-top: -5px;
}
.dropdown-menu:after,
.dropdown-menu:before {
  bottom: 100%;
  left: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 20;
}
.navbar-right .dropdown-menu:after,
.navbar-right .dropdown-menu:before {
  left: 94%;
}
.dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 12px;
  margin-left: -12px;
}
.dropdown-menu:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: #e0e0e0;
  border-width: 15px;
  margin-left: -15px;
}
.dropdown-menu li {
  position: static;
  margin: 0;
}
.dropdown-menu li > a {
  padding: 9px 20px;
  border-width: 1px 2px;
  border-style: solid ;
  border-color: #e0e0e0 transparent;
  position: relative;
  margin: 0 -2px -1px;
  text-transform: capitalize;
  display: block;
  line-height: 22px;
}

.dropdown-user .dropdown-menu li > a {
  padding: 18px 20px;
}

.dropdown-user .dropdown-menu li > a:hover {
  padding: 17px 20px;
}
.nav-menu.navbar-left .dropdown-menu li > a span {
  color: #999999;
}
.dropdown-menu li:hover > a {
  border-color: #eb8305;
  color: #eb8305;
  border-width: 2px;
  z-index: 9;
  padding: 8px 20px;
}
.dropdown-menu li:first-child > a {
  margin-top: -2px;
}
.dropdown-menu .sub-menu.right {
  position: absolute;
  top: -2px;
  left: 326px;
  background-color: #fff;
  width: 330px;
  border: 2px solid #e0e0e0;
  min-height: 100%;
  min-height: calc(100% +  4px);
  min-height: -moz-calc(100% +  4px);
  min-height: -webkit-calc(100% +  4px);
  min-height: -o-calc(100% +  4px);
}
.dropdown-menu .sub-menu.left {
  position: absolute;
  top: 2px;
  right: 326px;
  width: 330px;
  min-height: 100%;
  background-color: #fff;
  border: 2px solid #e0e0e0;
}
.dropdown-menu > li > a {
  white-space: normal;
}
.dropdown-search .dropdown-menu > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}
.dropdown-search .dropdown-menu > li > a:hover {
  padding-top: 20px;
  padding-bottom: 20px;
}
.dropdown-search .dropdown-menu > li:hover > a {
  padding-top: 20px;
  padding-bottom: 20px;
}
.dropdown-menu > li:last-child a {
  margin-bottom: -2px;
}
.dropdown-menu > li.has-children > a {
  background-repeat: no-repeat;
  background-position: top 28px right 15px;
  background-image: url(../img/icon/down.png);
  font-weight: 600;
  padding: 18px 20px;
}
.dropdown-menu > li.has-children:hover > a {
  padding: 18px 20px 18px 18px;
  border-width: 1px 2px 1px 4px;
  border-color: #e0e0e0 #e0e0e0 #e0e0e0 #eb8305;
  background-image: url(../img/icon/top.png);
  color: #f7941e;
}
.dropdown-menu > li.has-children > .sub-menu {
  margin-top: 1px;
  display: none;
}
.dropdown-menu > li.has-children > .sub-menu .sub-menu {
  position: absolute;
  top: -2px;
  left: 100%;
  background-color: #fff;
  width: 100%;
  border: 2px solid #e0e0e0;
  display: none;
  min-height: 100%;
  min-height: calc(100% +  4px);
  min-height: -moz-calc(100% +  4px);
  min-height: -webkit-calc(100% +  4px);
  min-height: -o-calc(100% +  4px);

  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.dropdown-menu > li.has-children > .sub-menu a.all {
  padding: 18px 20px;
  font-weight: 600;
}
.dropdown-menu > li.has-children > .sub-menu a.all:hover {
  padding: 17px 20px;
}
.dropdown-menu > li.has-children > .sub-menu .has-children:hover .sub-menu {
  display: block;
}
.dropdown-menu > li.has-children:hover > .sub-menu {
  display: block;
}


.dropdown-user .dropdown-menu {
  width: 376px;
}
.dropdown-user .dropdown-menu .slideThree-uv {
  font-size: 13px;
  height: 70px;
}
.dropdown-user .dropdown-menu .user > a,
.dropdown-user .dropdown-menu .cai-dat > a,
.dropdown-user .dropdown-menu .dang-ky > a,
.dropdown-user .dropdown-menu .log-out > a {
  background-image: url(../img/icon/ung-vien-tai-khoan-1.png);
  background-repeat: no-repeat;
  background-position: center left 20px;
  padding-left: 55px;
}
.dropdown-user .dropdown-menu .user > a:hover,
.dropdown-user .dropdown-menu .cai-dat > a:hover,
.dropdown-user .dropdown-menu .dang-ky > a:hover,
.dropdown-user .dropdown-menu .log-out > a:hover,
.dropdown-user .dropdown-menu .user > a:focus,
.dropdown-user .dropdown-menu .cai-dat > a:focus,
.dropdown-user .dropdown-menu .dang-ky > a:focus,
.dropdown-user .dropdown-menu .log-out > a:focus {
  padding-left: 57px;
}
.dropdown-user .dropdown-menu .cai-dat > a {
  background-image: url(../img/icon/cai-dat-1.png);
}
.dropdown-user .dropdown-menu .cai-dat > a:hover {
  background-image: url(../img/icon/cai-dat-2.png);
}
.dropdown-user .dropdown-menu .cai-dat > a:focus {
  background-image: url(../img/icon/cai-dat-3.png);
}
.dropdown-user .dropdown-menu .dang-ky > a {
  background-image: url(../img/icon/dang-ky-1.png);
}
.dropdown-user .dropdown-menu .dang-ky > a:hover {
  background-image: url(../img/icon/dang-ky-2.png);
}
.dropdown-user .dropdown-menu .dang-ky > a:focus {
  background-image: url(../img/icon/dang-ky-3.png);
}
.dropdown-user .dropdown-menu .log-out > a {
  background-image: url(../img/icon/log-out-1.png);
}
.dropdown-user .dropdown-menu .log-out > a:hover {
  background-image: url(../img/icon/log-out-2.png);
}
.dropdown-user .dropdown-menu .log-out > a:focus {
  background-image: url(../img/icon/log-out-3.png);
}
.dropdown-user .dropdown-menu .user > a {
/*  border-left-width: 4px;
  border-left-color: #f7941e;*/
  background-image: url(../img/icon/ung-vien-tai-khoan-1.png);
  background-position: center left 18px;
  padding-left: 60px;
}
.dropdown-user .dropdown-menu .user > a span{
  display: block;
  max-width: 250px;
  text-overflow: ellipsis;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}
.dropdown-user .dropdown-menu .user > a:hover {
  background-image: url(../img/icon/ung-vien-tai-khoan-2.png);
  border-width: 2px;
  padding-left: 62px;
  background-position: center left 20px;
}
.dropdown-user .dropdown-menu .user > a:focus {
  background-image: url(../img/icon/ung-vien-tai-khoan-3.png);
  border-width: 2px;
  padding-left: 62px;
  background-position: center left 20px;
}



.btn-nav-menu {
  width: 50px;
  height: 32px;
  background-image: url(../img/icon/menu-responsive-1.png);
  background-repeat: no-repeat;
  background-position: center left;
  display: none;
  cursor: pointer;
}
.btn-nav-menu:hover {
  background-image: url(../img/icon/menu-responsive-2.png);
}
.btn-nav-menu:hover .icon {
  background-image: url(../img/icon/top.png);
}
.btn-nav-menu:focus,
.btn-nav-menu.active {
  background-image: url(../img/icon/menu-responsive-3.png);
}
.btn-nav-menu:focus .icon,
.btn-nav-menu.active .icon {
  background-image: url(../img/icon/top.png);
}
.btn-nav-menu .icon {
  width: 50px;
  height: 30px;
  display: block;
  background-image: url(../img/icon/down.png);
  background-repeat: no-repeat;
  background-position: center right;
}
.nav-menu.navbar-left.active .nav {
  float: none;
  display: block;
  width: auto;
  padding-top: 0px;
  left: 0;
  right: 0;
  position: absolute;
  top: 72px;
  background-color: #fff;
  z-index: 9999;
}
.nav-menu.navbar-left.active .nav:after,
.nav-menu.navbar-left.active .nav:before {
  bottom: 100%;
  left: 220px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 20;
}
.nav-menu.navbar-left.active .nav:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 12px;
  margin-left: -12px;
}
.nav-menu.navbar-left.active .nav:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: #e0e0e0;
  border-width: 15px;
  margin-left: -15px;
}
.nav-menu.navbar-left.active .nav > li {
  display: block;
  float: none;
  margin-right: 0;
}
.nav-menu.navbar-left.active .nav > li > a {
  border: 1px solid #e0e0e0;
  margin-bottom: -1px;
  padding: 22px 15px;
  line-height: 1.2;
  background-repeat: no-repeat;
  background-position: right 10px top 26px;
  background-image: url(../img/icon/down.png);
}
.nav-menu.navbar-left.active .nav > li:hover > a,
.nav-menu.navbar-left.active .nav > li:focus > a {
  border-left-color: #f7941e;
  color: #f7941e;
}
.nav-menu.navbar-left.active .nav > li:hover > .dropdown-menu,
.nav-menu.navbar-left.active .nav > li:focus > .dropdown-menu {
  display: block;
}
.nav-menu.navbar-left.active .nav > li .caret-help {
  height: 30px;
}
.nav-menu.navbar-left.active .nav > li.dropdown-help > a {
  padding: 15px 15px;
}
.nav-menu.navbar-left.active .nav > li a {
  border-color: #e0e0e0;
}
.nav-menu.navbar-left.active .nav > li .dropdown-menu {
  position: static;
  display: none;
  float: none;
  box-shadow: none;
  border: none;
  margin: 0;
  width: 100%;
}
.nav-menu.navbar-left.active .nav > li .dropdown-menu:before,
.nav-menu.navbar-left.active .nav > li .dropdown-menu:after {
  content: none;
}
.nav-menu.navbar-left.active .nav > li .dropdown-menu .sub-menu {
  display: none;
  float: none;
  position: static;
  box-shadow: none;
  border: none;
  margin: 0;
  width: 100%;
}
.nav-menu.navbar-left.active .nav > li .dropdown-menu .sub-menu > li > a {
  padding-left: 50px !important;
}
.nav-menu.navbar-left.active .nav > li .dropdown-menu .sub-menu > li li > a {
  padding-left: 70px !important;
}
.nav-menu.navbar-left.active .nav > li .dropdown-menu .sub-menu > li:hover > .sub-menu {
  display: block;
}
.nav-menu.navbar-left.active .nav > li .dropdown-menu > li:hover > .sub-menu {
  display: block;
}
.nav-menu.navbar-left.active .nav > li .dropdown-menu li.has-children > a {
  background-repeat: no-repeat;
  background-position: right 10px top 15px;
  background-image: url(../img/icon/down.png);
}
.nav-menu.navbar-left.active .nav > li .dropdown-menu li.has-children > a:hover {
  background-image: url(../img/icon/top.png);
}
.nav-menu.navbar-left.active .nav > li .dropdown-menu li > a {
  border-width: 1px;
  padding: 9px 20px !important;
  margin: 0 0 -1px 0 !important;
  padding-left: 30px !important;
}
.select-search {
  position: relative;
}
.select-container {
  border: 2px solid #e0e0e0;
  padding: 4px;
  width: 100%;
  position: relative;
}
.select-container-above:hover {
  border: 3px solid #f7941e;
  padding: 3px;
}
.select-container-above:hover .select-all-remove {
  width: 36px;
  height: 36px;
}
.select-container-focus {
  border-color: #eb8305;
  border-width: 2px;
}
.select-container-dropdown {
  border: 1px solid #e0e0e0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 10px;
  background-color: #fff;
  z-index: 99;
  display: none;
}
.select-container-dropdown.select-container-open {
  display: block;
}
.select-search-default .select-container-dropdown {
  padding: 4px 0;
}
.select-rendered {
  overflow: hidden;
}
.select-rendered li {
  margin: 0 0px 3px 5px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  /* max-width: 200px;
overflow: hidden;
text-overflow: ellipsis;*/
}
.select-search-default .select-rendered .select-input {
  display: block;
}
.select-search-default .select-rendered .select-input input {
  width: 100%;
  padding-right: 35px;
  height: 25px;
  margin: 0;
  padding-left: 15px;
}
.select-choice {
  border: 1px solid #ccc;
  background-color: #ddd;
  border-radius: 3px;
  padding: 2px 6px;
  white-space: nowrap;
  display: inline-block;
  margin-right: 3px;
  font-size: 13px;
}
.select-choice-remove {
  cursor: pointer;
  color: #fff;
}
.select-choice-remove:hover {
  color: #ffab4b;
}
.select-choice-remove:focus {
  color: #eb8305;
}
.select-input {
  display: block;
}
.select-input-field,.select-input-field:focus {
  padding: 2px;
  color: #333;
  border: none;
  outline: none;
  font-weight: 600;
}

.select-placeholder {
  color: #999;
  font-size: 13px;
}
.select-placeholder label {
  margin-bottom: 0;
}
.select-all-remove {
  width: 38px;
  height: 38px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/icon/da-xem-xong-1.png);
  white-space: nowrap;
}
.select-all-remove:hover {
  background-image: url(../img/icon/da-xem-xong-2.png);
}
.select-container-focus .select-all-remove {
  background-image: url(../img/icon/da-xem-xong-2.png);
}
.select-results-option {
  padding: 6px 12px;
  cursor: pointer;
}
.select-search-chosen .select-results-option:hover {
  background-image: url(../img/icon/dau-cong-4.png);
}
.select-results-option:hover {
  background-color: #ffab4b;
  color: #fff;
  background-position: center right 15px;
  background-repeat: no-repeat;
}
.select-message {
  padding: 0 12px;
  color: #999;
}
.select-message a {
  color: #f7941e;
  text-decoration: underline;
  padding: 0 10px;
}
/*==========================================================

	6. FOOTER

==========================================================*/

/*====================*\
//Footer
\*====================*/
#footer {
  background-color: #666666;
  color: #9e9e9e;
}
#footer a {
  color: #9e9e9e;
}
#footer .heading {
  font-style: italic;
  text-align: center;
  font-size: 20px;
  display: block;
  margin-bottom: 40px;
  margin-top: 40px;
}
#footer .footer-top {
  padding-bottom: 70px;
  border-bottom: 1px solid #9e9e9e;
}
#footer .footer-top li {
  width: 20%;
  float: left;
}
#footer .footer-top li:nth-child(5n+1) {
  clear: both;
}
#footer .footer-top li img {
  opacity: 0.6;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
#footer .footer-top li img:hover {
  opacity: 1;
}
#footer .footer-center {
  padding: 50px 0;
  border-bottom: 1px solid #9e9e9e;
}
#footer .footer-center .container {
  padding: 0 120px;
}
#footer .footer-center .title {
  display: block;
  text-transform: uppercase;
  margin: 15px 0;
  font-size: 18px;
  font-weight: 600;
}
#footer .footer-center li a {
  display: block;
  padding: 6px 0;
}
#footer .footer-center li a:hover {
  color: #fff;
}
#footer .footer-bottom {
  padding-bottom: 60px;
}
#footer .footer-bottom .share {
  margin-bottom: 30px;
}
#footer .footer-bottom .share li {
  vertical-align: top;
}
#footer .footer-bottom .share li a {
  color: #666666;
}
#footer .footer-bottom .text-social {
  color: #fff;
}
.share li a {
  display: block;
  width: 44px;
  line-height: 44px;
  border-radius: 100%;
  font-size: 25px;
  background-color: #9e9e9e ;
  color: #666666;
  transition: all 0.3s ease 0s;
}
.share li a:hover {
  background-color: #fff;
  color: #666666;
}


@media (max-width: 767px) {
  .site-footer .col {
    width: 50%;
    float: left;
  }
  .site-footer .col:nth-child(3n+1) {
    clear: none;
  }
  .site-footer .col:nth-child(2n+1) {
    clear: both;
  }
  #footer .footer-center .container {
    padding: 0 30px;
  }
}
@media (max-width: 639px) {
  .site-footer .col {
    width: 100%;
  }
}
.site-footer .block-social {
  margin-bottom: 20px;
}
.site-footer .block-social .block-title {
  margin-bottom: 10px;
}
.site-footer .block-social .block-title .title {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 12px;
  font-weight: 500;
  line-height: 1.1;
}
.site-footer .block-social .sc-link {
  display: inline-block;
  vertical-align: top;
  margin: 5px 5px 5px 0;
  width: 42px;
  line-height: 42px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 100%;
  color: #fff;
  font-size: 18px;
}
.site-footer .block-social .sc-link:hover {
  background-color: #f67004;
}
.site-footer .block-subscribe {
  margin-bottom: 20px;
}
.site-footer .block-subscribe .block-title {
  margin-bottom: 25px;
}
.site-footer .block-subscribe .block-title .title {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 12px;
  font-weight: 500;
  line-height: 1.1;
}
.site-footer .block-subscribe .box-group {
  display: table;
  padding-left: 40px;
  position: relative;
  width: 100%;
  max-width: 345px;
}
.site-footer .block-subscribe .box-group:before {
  content: "\f003";
  font-family: "FontAwesome";
  text-align: center;
  width: 41px;
  position: absolute;
  left: 0;
  height: 38px;
  line-height: 36px;
  border: 1px solid #67707c;
  color: #fff;
}
.site-footer .block-subscribe .form-control {
  display: table-cell;
  width: 100%;
  vertical-align: top;
  border: 1px solid #67707c;
  height: 38px;
  background-color: transparent;
}
.site-footer .block-subscribe .box-actions {
  display: table-cell;
  vertical-align: top;
  width: 1%;
}
.site-footer .block-subscribe .btn-subcribe {
  height: 38px;
  padding: 0 12px;
  border: none;
  background-color: #2b85c1;
  color: #fff;
  text-transform: uppercase;
}
.site-footer .block-subscribe .btn-subcribe:hover {
  background-color: #1d5a82;
}

/*==========================================================

	9. PAGES

==========================================================*/
#to-top {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 100%;
  background-color: rgba(45, 111, 158, 0.6);
  text-align: center;
  color: #fff;
  cursor: pointer;
  position: fixed;
  right: 90px;
  bottom: 100px;
  z-index: 333;
}



#to-top:hover {
  background-color: #2d6f9e;
}
#to-top span {
  display: none;
}
#to-top:before {
  content: "\f077";
  font-family: "FontAwesome";
}
@media (max-width: 991px) {
  #to-top {
    right: 20px;
  }
}


