/*====================*\
//Categori social
\*====================*/
.list-user {
  margin-bottom: 40px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  color: #666; }
  .list-user .item-user {
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
    padding: 35px 5px 35px 35px;
    position: relative;
    display: block; }
    .list-user .item-user .item-photo {
      display: block;
      position: relative;
      overflow: hidden;
      width: 145px;
      float: left; }
      .list-user .item-user .item-photo img {
        display: block;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
    .list-user .item-user .item-info {
      float: left;
      width: calc(75% - 150px); }
      .list-user .item-user .item-info-full {
        width: calc(100% - 150px); }
    .list-user .item-user .item-profile {
      float: right;
      width: 22%;
      padding-bottom: 20px;
      position: relative;
      text-align: center; }
      .list-user .item-user .item-profile .avatar img {
        display: inline-block;
        width: 70px; }
      .list-user .item-user .item-profile .group {
        font-weight: bolder;
        text-transform: capitalize;
        display: block;
        margin: 5px 0; }
      .list-user .item-user .item-profile .links a {
        font-size: 25px;
        margin: 0 5px; }
      .list-user .item-user .item-profile .links a {
        font-size: 25px;
        margin: 0 5px; }
      .list-user .item-user .item-profile .btn-outline {
        margin-top: 5px; }
    .list-user .item-user .item-name {
      display: block;
      color: #000;
      font-weight: 500;
      line-height: 1;
      font-size: 18px;
      margin-bottom: 5px;
      text-transform: capitalize; }
      .list-user .item-user .item-name a {
        /*  color: #000;*/ }
    .list-user .item-user .item-desc {
      margin-bottom: 10px;
      display: block; }
    .list-user .item-user .item-meta {
      display: flex;
      color: #666;
      font-weight: 300;
      margin-bottom: 5px;
      line-height: 48px; }
      .list-user .item-user .item-meta span {
        margin-right: 20px; }
      .list-user .item-user .item-meta .do_action {
        font-size: 48px;
        cursor: pointer; }
    .list-user .item-user .item-action a {
      display: inline-block;
      vertical-align: top;
      margin: 0 12px 10px 0;
      color: #666; }
      .list-user .item-user .item-action a:hover {
        color: #f67004; }
      .list-user .item-user .item-action a .fa {
        margin-right: 5px; }
    .list-user .item-user .item-vote {
      margin-bottom: 9px; }
      .list-user .item-user .item-vote .vote-count {
        display: block;
        clear: both; }
      .list-user .item-user .item-vote .vote-result {
        display: block;
        clear: both;
        margin-bottom: 5px; }
      .list-user .item-user .item-vote .vote-count {
        font-size: 13px;
        line-height: 14px; }
        .list-user .item-user .item-vote .vote-count span {
          color: #666; }
      .list-user .item-user .item-vote .vote-result > span {
        color: #17aa1c; }
    .list-user .item-user:hover .item-name {
      color: #f67004; }
      .list-user .item-user:hover .item-name a {
        color: #f67004; }

/*====================*\
//Detail user
\*====================*/
#main {
  margin: 0px 0 40px; }

.background {
  background-color: #f60;
  color: #b2b2b2;
  font-size: 13px;
  text-transform: capitalize;
  margin-bottom: 0;
  padding-bottom: 245px; }

.nav-links {
  text-align: center;
  margin: 30px 0; }

.detail-user {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  margin-top: -200px;
  position: relative;
  background-color: #fff;
  border: 2px solid #e0e0e0;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  color: #666; }
  .detail-user .item-user {
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
    padding: 35px 5px 35px 5px;
    position: relative;
    display: block; }
    .detail-user .item-user .item-photo {
      display: block;
      position: relative;
      overflow: hidden;
      width: 180px;
      float: left;
      text-align: center; }
      .detail-user .item-user .item-photo img {
        display: block;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        margin: 0 auto; }
      .detail-user .item-user .item-photo .links a {
        font-size: 25px;
        margin: 0 5px; }
    .detail-user .item-user .item-info {
      float: left;
      width: calc(75% - 190px); }
      .detail-user .item-user .item-info-full {
        width: calc(100% - 190px); }
    .detail-user .item-user .item-profile {
      float: right;
      width: 22%;
      padding-bottom: 20px;
      position: relative;
      text-align: center; }
      .detail-user .item-user .item-profile .avatar img {
        display: inline-block;
        width: 70px; }
      .detail-user .item-user .item-profile .group {
        font-weight: bolder;
        text-transform: capitalize;
        display: block;
        margin: 5px 0; }
      .detail-user .item-user .item-profile .btn-outline {
        margin-top: 5px; }
    .detail-user .item-user .item-name {
      display: block;
      color: #000;
      font-weight: 500;
      line-height: 1;
      font-size: 18px;
      margin-bottom: 5px;
      text-transform: capitalize; }
      .detail-user .item-user .item-name a {
        /*  color: #000;*/ }
    .detail-user .item-user .item-desc {
      margin-bottom: 10px;
      display: block; }
    .detail-user .item-user .item-meta {
      display: flex;
      color: #666;
      font-weight: 300;
      margin-bottom: 5px;
      line-height: 48px; }
      .detail-user .item-user .item-meta span {
        margin-right: 20px; }
      .detail-user .item-user .item-meta .do_action {
        font-size: 48px;
        cursor: pointer; }
    .detail-user .item-user .item-vote {
      margin-bottom: 9px; }
      .detail-user .item-user .item-vote .vote-count {
        display: block;
        clear: both; }
      .detail-user .item-user .item-vote .vote-result {
        display: block;
        clear: both;
        margin-bottom: 5px; }
      .detail-user .item-user .item-vote .vote-count {
        font-size: 13px;
        line-height: 14px; }
        .detail-user .item-user .item-vote .vote-count span {
          color: #666; }
      .detail-user .item-user .item-vote .vote-result > span {
        color: #17aa1c; }
    .detail-user .item-user:hover .item-name {
      color: #f67004; }
      .detail-user .item-user:hover .item-name a {
        color: #f67004; }
  .detail-user .item-action {
    text-align: center; }
