
/*==========================================================

	4. HEADER

==========================================================*/


/*========dropdow=========*/

.drop-dropdown {
  .heading {
    padding: 10px 15px;
    display: block;
    background-color: #F9F9F9;
    .title {
      text-transform: uppercase;
    }
    .check-count {
      text-transform: capitalize;
      color: #f7941e;
    }
  }
  .logo-job {
    max-width: 29px;
    margin-right: 5px;
    margin-top: 4px;
  }
  .text-job {
    overflow: hidden;
    display: block;
    font-weight: bold;
    text-transform: none;
    .name-cty {
      font-weight: 400;
    }
    .phu-hop {
      color: #f7941e;
      font-weight: 400;
    }
  }
}

/*=======logo=========*/

.logo {
  display: table;
  text-align: center;
  /* width: 151px;*/
  height: 71px;
  margin-right: 40px;
  a {
    display: table-cell;
    vertical-align: middle;
    img {
      display: inline-block;
      max-width: 150px;
      max-height: 70px;
    }
  }
}

.dropdown-login > a {
  .icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icon/log-out-1.png);
  }
  &:hover .icon {
    background-image: url(../img/icon/log-out-2.png);
  }
  &:focus .icon {
    background-image: url(../img/icon/log-out-3.png);
  }
}

.dropdown-singup > a {
  .icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icon/sigup-1.png);
  }
  &:hover .icon {
    background-image: url(../img/icon/sigup-2.png);
  }
  &:focus .icon {
    background-image: url(../img/icon/sigup-3.png);
  }
}


.caret {
  width: 11px;
  height: 8px;
  border: none;
  background-image: url(../img/icon/down.png);
  background-repeat: no-repeat;
  background-position: center;
}

.open .caret {
  background-image: url(../img/icon/down.png);
}

.dropdown-user .name {
  direction: rtl;
  padding: 0 6px;
  max-width: 120px;
  text-overflow: ellipsis;
  text-transform: capitalize;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

.caret-user {
  display: block;
  width: 32px;
  height: 42px;
  background-image: url(../img/icon/ung-vien-tai-khoan-1.png);
  background-repeat: no-repeat;
  background-position: center;
}

a:hover .caret-user {
  background-image: url(../img/icon/ung-vien-tai-khoan-2.png);
}

.open .caret-user {
  background-image: url(../img/icon/ung-vien-tai-khoan-3.png);
}

.caret-user.user-td {
  background-image: url(../img/icon/nha-TD-tai-khoan-1.png);
}

a:hover .caret-user.user-td {
  background-image: url(../img/icon/nha-TD-tai-khoan-2.png);
}

.open .caret-user.user-td {
  background-image: url(../img/icon/nha-TD-tai-khoan-3.png);
}

.caret-user.user-uv {
  background-image: url(../img/icon/ung-vien-tai-khoan-1.png);
}

a:hover .caret-user.user-uv {
  background-image: url(../img/icon/ung-vien-tai-khoan-2.png);
}

.open .caret-user.user-uv {
  background-image: url(../img/icon/ung-vien-tai-khoan-3.png);
}





.select-search {
  position: relative;
}

.select-container {
  border: 2px solid #e0e0e0;
  padding: 4px;
  width: 100%;
  position: relative;
}

.select-container-above:hover {
  border: 3px solid #f7941e;
  padding: 3px;
  .select-all-remove {
    width: 36px;
    height: 36px;
  }
}

.select-container-focus {
  border-color: #eb8305;
  border-width: 2px;
}

.select-container-dropdown {
  border: 1px solid #e0e0e0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 10px;
  background-color: #fff;
  z-index: 99;
  display: none;
  &.select-container-open {
    display: block;
  }
}


.select-search-default .select-container-dropdown {
  padding: 4px 0;
}

.select-rendered {
  overflow: hidden;
  li {
    margin: 0 0px 3px 5px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    /* max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;*/
  }
}

.select-search-default .select-rendered .select-input {
  display: block;
  input {
    width: 100%;
    padding-right: 35px;
    height: 25px;
    margin: 0;
    padding-left: 15px;
  }
}

.select-choice {
  border: 1px solid #ccc;
  background-color: #ddd;
  border-radius: 3px;
  padding: 2px 6px;
  white-space: nowrap;
  display: inline-block;
  margin-right: 3px;
  font-size: 13px;
}

.select-choice-remove {
  cursor: pointer;
  color: #fff;
  &:hover {
    color: #ffab4b;
  }
  &:focus {
    color: #eb8305;
  }
}

.select-input {
  display: block;
}

.select-input-field {
  padding: 2px;
  color: #333;
  border: none;
  outline: none;
  font-weight: 600;
  &:focus {
    padding: 2px;
    color: #333;
    border: none;
    outline: none;
    font-weight: 600;
  }
}

.select-placeholder {
  color: #999;
  font-size: 13px;
  label {
    margin-bottom: 0;
  }
}

.select-all-remove {
  width: 38px;
  height: 38px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/icon/da-xem-xong-1.png);
  white-space: nowrap;
  &:hover {
    background-image: url(../img/icon/da-xem-xong-2.png);
  }
}

.select-container-focus .select-all-remove {
  background-image: url(../img/icon/da-xem-xong-2.png);
}

.select-results-option {
  padding: 6px 12px;
  cursor: pointer;
}

.select-search-chosen .select-results-option:hover {
  background-image: url(../img/icon/dau-cong-4.png);
}

.select-results-option:hover {
  background-color: #ffab4b;
  color: #fff;
  background-position: center right 15px;
  background-repeat: no-repeat;
}

.select-message {
  padding: 0 12px;
  color: #999;
  a {
    color: #f7941e;
    text-decoration: underline;
    padding: 0 10px;
  }
}


#to-top {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 100%;
  background-color: rgba(45, 111, 158, 0.6);
  text-align: center;
  color: #fff;
  cursor: pointer;
  position: fixed;
  right: 90px;
  bottom: 100px;
  z-index: 333;
  &:hover {
    background-color: #2d6f9e;
  }
  span {
    display: none;
  }
  &:before {
    content: "\f077";
    font-family: "FontAwesome";
  }
}

@media (max-width: 991px) {
  #to-top {
    right: 20px;
  }
}