/*====================*\
//Categori social
\*====================*/
body{


.block-search {
  margin: 0px;
  padding: 0px;
  .block-title {
    line-height: 20px;
    padding: 0;
    margin-bottom: 7px;
  }
  .block-content {
    border-bottom: none;
    padding: 10px;
    background-color: #ffffff;
    .input-group {
      width: 100%;

      float: left;
      position: relative;
      background-color: #ffffff;

      input {
        &.input-clear {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url(../img/icon/da-xem-xong-1.png);
          &:hover {
            background-image: url(../img/icon/da-xem-xong-2.png);
          }
        }
        &.input-text {
          padding-right: 40px;
          &:focus + input.input-clear, &[keepfocus] + input.input-clear, &[autofocus] + input.input-clear {
            background-image: url(../img/icon/da-xem-xong-2.png);
          }
          &:focus + input.input-clear + .dropdown-menu, &[keepfocus] + input.input-clear + .dropdown-menu, &[autofocus] + input.input-clear + .dropdown-menu {
            display: block;
          }
        }

      }
      /*.select-input {
        width: 69.6%;
      }*/
      .dropdown-menu {
        width: 100%;
        &:before, &:after {
          content: none;
        }
      }
    }

    .action {
      width: 140px;
      float: right;
      background-color: #ffffff;
      width: 200px;
      button {
        padding-left: 0;
        padding-right: 0;
        display: block;
        width: 100%;
      }
    }
  }
}

.block-filter {
  z-index: 30;
  .navbar-collapse {
    padding: 0;
  }

  .block-content {
    margin-bottom: 10px;
    padding: 0 20px;

    .ajax-filter, .action-filter {
      display: inline-block;
      width: 100%;

    }
    .btn-clear-all {
      font-weight: bolder;
      text-transform: capitalize;
    }

    .search-dropdown {
      display: inline-block;
      /* vertical-align: top;
       margin-bottom: 12px;*/
      width: 100%;
      margin-right: 10px;
      margin-bottom: 10px;
      .dropdown-toggle {
        max-width: 100%;
      }
      .dropdown-menu {
        width: 100%;

      }
    }
    .block-total {
      text-align: right;
      margin-bottom: 10px;
      span {
        font-weight: bold;
        font-size: 25px;
      }
    }
    .block-point {
      /* float: right;*/
      margin-right: 10px;
    }
    .block-layout {
      /* float: right;*/
      margin-right: 20px;
      margin-top: 2px;
    }
    .block-sorter {
      float: right;
      .total_product {
        margin-bottom: 10px;
      }
      .sort-dropdown {

        .search-rendered {
          line-height: 26px;
        }
        .dropdown-toggle {
          &:hover .search-rendered, &:focus .search-rendered {
            line-height: 26px;
          }
        }

      }
    }
    .slider.slider-horizontal {
      width: 95% !important;
      margin-left: 10px;
      margin-top: 10px;
    }
    #slider_point {
      margin-bottom: 10px;
    }
  }
  .filter-dropdow .search-dropdown .search-rendered {
    font-size: 13px;
    line-height: 26px;
  }
}

.list-user {
  margin-bottom: 40px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  color: #666;
  .item-user {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
    position: relative;
    display: block;
    //== structure
    .item-photo {
      width: 95px;
      float: left;
      @include user-avatar(85px, 85px);
      @include user-label(25px, 28px, 28px, 60px, 0px);

    }
    .item-info {
      float: left;
      width: calc(100% - 100px);
    }
    .item-profile {
      float: right;
      width: 22%;
      padding-bottom: 20px;
      position: relative;
      text-align: center;
      .avatar {
        i {
          font-size: 48px;
          color: _palette(button-1);
        }
      }
      .group {
        text-transform: capitalize;
        display: block;
        margin: 5px 0;
        span {
          color: _palette(text-3);

        }

      }
      .links {
        a {
          font-size: 25px;
          margin: 0 5px;
        }
      }
    }
    .item-name {
      display: block;
      color: #000;
      font-weight: 500;
      line-height: 1;
      font-size: 16px;
      /* margin-bottom: 5px;*/
      text-transform: capitalize;

    }
    .item-profession {
      margin-top: 4px;
      font-size: 11px;

      color: _palette(text-2);
    }
    a.btn-xs {
      font-size: 11px;
    }
    //== detail
    .item-desc {
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;
    }

    .item-meta {
      font-size: 11px;

      display: flex;
      color: _palette(text-3);
      font-weight: 300;
      margin-bottom: 5px;
      line-height: 22px;
      .places, .posts, .points, .follows {
        margin-right: 20px;
      }

      .place {   font-size: 11px;
        max-width: 350px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
      }
      .do_action {
        font-size: 48px;
        cursor: pointer;
      }
    }
    .item-action {
      position: absolute;
      right: 10px;
      top: 10px;
      .dropdown {
        margin-left: 10px;
        i {
          font-size: 24px;
        }

      }

    }
    .item-vote {
      margin-bottom: 9px;
      .vote-count {
        display: block;
        clear: both;
      }
      .vote-result {
        display: block;
        clear: both;
        margin-bottom: 5px;
      }
      .vote-count {
        font-size: 13px;
        line-height: 14px;
        span {
          color: #666;
        }
      }
      .vote-result > span {
        color: #17aa1c;
      }
    }

    .item-list-tag .item-tag-title {
      max-width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    &:hover {
      .item-name {
        color: #f67004;
        a {
          color: #f67004;
        }
      }
    }

  }
}

.list-user-feature {
  /* margin-bottom: 40px;
   background-color: #ffffff;
   border: 1px solid #e0e0e0;
   color: #666;*/
  .item-user {
    cursor: pointer;
    margin-bottom: 10px;
    border-bottom: 1px solid _palette(border);
    padding: 10px 0;
    position: relative;
    display: inline-block;
    font-size: 11px;
    width: 100%;
    //== structure
    .item-photo {
      float: left;
      margin-right: 5px;
      padding-right: 5px;
      @include user-avatar(35px, 35px);
      @include user-label(15px, 16px, 16px, 25px, 0px);

    }
    .item-info {
      float: left;
      width: calc(100% - 50px);
    }
    .item-name {
      display: block;
      margin-bottom: 2px;
      text-transform: capitalize;
      a {
        color: _palette(text-1);
        font-weight: bolder;
      }
    }
    .item-meta {
      text-transform: capitalize;
      color: _palette(text-3);
    }

    a.btn-xs {
      font-size: 9px;
      padding: 1px 5px;
      position: absolute;
      top: 0;
      right: 0;
      &.on {
        background-color: transparent;
        border-color: _palette(border);
        color: _palette(text-4);
      }
    }
    &:hover, &.active {
      .item-name {
        color: #f67004;
        a {
          color: #f67004;
        }
      }
    }

  }
}

@include breakpoint(small) {
  .block-search {
    .block-content {
      padding: 0px;
      /* .input-group {
         width: 50% !important;

       }*/
    }
  }
  .block-filter {
    .block-content {
      margin-top: 10px;
      padding: 0px;
      .search-dropdown {
        width: 50% !important;
      }
      .block-total {
        display: inline;
        position: absolute;
        top: 10px;
        left: 0px;
        border: 2px solid #e0e0e0;
        border-radius: 20px;
        padding:7px 20px;
        position: relative;
        span{
          font-size: 15px;
        }

      }
      .block-sorter {
        display: inline;
        position: absolute;
        top: 65px;
        right: 10px;
        width: 120px;
        .search-dropdown {
          width: 100% !important;
        }
      }
      .block-slider {
        /* display: inline;
         position: absolute;
         top: 100px;
         left: 10px;*/
        margin-top: 20px;

        width: 99% !important;
        .slider.slider-horizontal {
          width: 99% !important;
        }
      }
      /* .action-filter {
         display: inline;
         position: absolute;
         top: 50px;
         left: 180px;
       }*/
      .modal{
        .product-total{
          text-align: center;
          margin-bottom: 15px;
          span {
            font-size: 25px;
            font-weight: bold;
          }
        }
        .search-dropdown {
          width: 100% !important;
        }
      }
    }

  }
  .list-user {
    .item-user{
      padding: 10px;
      .item-photo {
        width: 55px;
        float: left;
        @include user-avatar(45px, 45px);
        @include user-label(15px, 16px, 16px, 30px, 0px);

      }
      .item-info {
        float: left;
        width: calc(100% - 60px);
        .item-name {
          font-size: 13px;
        }
      }
      .item-meta{
        display: block;
        .places, .posts, .points, .follows {
          margin-right: 10px;
        }
      }

    }
  }
}

}