body.user-page {
  #main {
    margin-top: 50px;
  }
}


.dropdown-user {

 .user-panel{
   display: block;
    line-height: 45px;
    position: relative;
   .item-photo {
     float: left;
     @include user-avatar(35px,35px);
     @include user-label(15px,16px,16px,25px,0px);

   }
   .item-info {
     float: left;
     .name {
       direction: rtl;
       padding: 0 6px;
       max-width: 120px;
       text-overflow: ellipsis;
       text-transform: capitalize;
       text-align: right;
       overflow: hidden;
       text-overflow: ellipsis;
       text-transform: capitalize;
       white-space: nowrap;
     }
   }


    i.avatar {
      font-size: 32px;
      line-height: 50px;
    }
    .item-img {
      margin-top: 10px;
    }


  }

  .dropdown-menu {
    width: 376px;
    .slideThree-uv {
      font-size: 13px;
      height: 70px;
    }
    li > a,li > a:hover {
      padding: 18px 20px;
      line-height: 26px;
      display: flex;
      i {
        font-size: 26px;
        margin-right: 15px;
      }
    }
  }

}

/*=======dropdown link tai khoan==========*/
.dropdown-home,.dropdown-notice,.dropdown-message {
  margin-top: 5px;
  li {
    a {
      text-transform: none !important;
      text-decoration: none;
    }
    .title {
      font-size: 13px;
    }
    .created {
      font-size: 11px;
      color: #90949c;
    }

    .avatar {
      float: left;
    }
    .infos {
      display: block;
      overflow: hidden;
      padding-left: 7px;
      .created {
        color: #90949c;
        display: block;
        font-size: 12px;
        padding-top: 2px;
        position: absolute;
        right: 14px;
        top: 20%;
      }
    }


  }

  .dropdown-menu {
    width: 376px;
  }
}




