body.user-page {
  #main {
    margin: 0px;
  }
}

body.user-account {

  .sidebar {
    padding-top: 10px;
    padding-bottom: 40px;
    position: relative;
    h3 {
      margin-top: 0;
    }
    .nav li a {
      &:hover, &.active {
        background: #eee;
        border-color: #e0e0e0 transparent;
        border-style: solid;
        border-width: 1px 2px;
        line-height: 22px;
        position: relative;
        border-left-width: 4px;
        border-left-color: #f7941e;
      }
    }
  }
  .main-content {
    h1.panel-title {
      font-size: 2em;
    }
    .panel {
      background: none;
      margin-bottom: 40px;
      .panel-body {
        background: #fff;
        padding: 40px;
      }
      form {
        /* padding: 20px;*/
        .form-group {
          margin:0;
          .control-label {
            text-align: left;
          }
          select.form-control {
            width: 200px;
            float: left;
          }
          .form-control {
            width: 100%;
            float: left;

          }
        }
        .actions {
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }
    }
  }

}