body.user-page {
  #main {
    margin-top: 50px;
  }
}
.timeline{
  .list-group-item {
    a{
      color: _palette(text-1);
    }
    &.active{
      background-color: #fff;
      border: 1px solid #ddd;
      a{
        color: _palette(button-1);
      }
    }

  }

}




