/*====================*\
//Detail user
\*====================*/
/* body.user-page{
.block-products-items {
   .list-social {
     .item-social {
       .item-author {
         .item-time {
           right: 130px;
           top: -8px;
         }
       }
     }
   }
 }

}
*/
#banner_background {
  position: relative;
  background-color: rgb(177, 177, 177);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-size: 13px;
  text-transform: capitalize;
  padding-top: 80px;
  &.active {
    padding-top: 250px;
  }
  .background1 {
    background-color: rgb(0, 0, 0);
    padding-top: 150px;
    opacity: 0.1;
  }
  .background2 {
    background-color: #fff;
    padding-top: 50px;

  }
  #banner_upload {
    position: absolute;
    top: 10px;
    left: 45%;
    z-index: 1;
    width: 100px;
    text-align: center;
    a {
      color: _palette(button-1);
    }
    i {
      font-size: 48px;
    }
    img {
      width: 70px;
      height: 50px;
    }
  }
}

.detail-user {
  margin: -215px auto 10px;
  padding-bottom: 2px;
  position: relative;
  color: #fff;
  display: flow-root;
  .item-user {
    position: relative;
    display: block;
    //== structure
    .item-photo {
      width: 200px;
      float: left;
      text-align: center;
      @include user-avatar(180px, 180px, 6px);
      @include user-label(30px, 33px, 33px, 120px, 30px);
      .links {
        a {
          font-size: 25px;
          margin: 0 5px;
        }
      }

    }
    .item-info {
      float: left;
      width: calc(80% - 210px);
      padding-top: 35px;
      line-height: 28px;

      .item-name {
        display: block;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
        a, a:hover {
          color: #fff;
          .file_attach {
            font-size: 24px;
          }
        }

      }
      .item-meta {
        display: flex;
        color: #fff;
        font-weight: 300;
        .places, .posts, .points, .follows {
          margin-right: 20px;
          .value {
            font-weight: bold;
          }

        }

        .place {
          max-width: 280px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
        }
        .do_action {
          font-size: 48px;
          cursor: pointer;
        }
      }

    }
    .item-profile {
      float: right;
      width: 20%;
      padding-top: 35px;
      padding-bottom: 20px;
      position: relative;
      text-align: center;
      line-height: 21px;
      .avatar {
        img {
          display: inline-block;
          width: 70px;
        }
        i {
          font-size: 48px;
          color: #fff;
        }
      }
      .infos {
        text-transform: capitalize;
        display: block;
        margin: 5px 0;
        span.group {
          font-weight: bolder;
        }
      }
      .btn-outline {
        margin-top: 5px;
      }

    }

  }
  .nav-links {
    position: absolute;
    bottom: 0px;
    left: 210px;
    a {
      color: _palette(text-3);
      padding: 2px 15px;
      .text {
        font-size: 12px;
      }
      .value {
        color: _palette(text-2);
        font-size: 16px;
      }
      &:hover, &.active {
        text-decoration: none;
        border-bottom: 2px solid #f7941e;
        .value {
          color: _palette(button-1);
        }
      }
    }
  }
  .item-action {
    position: absolute;
    bottom: 12px;
    right: 0px;
    height: 26px;
    line-height: 28px;
    display: flex;
    i {
      font-size: 16px;
    }
    .dropdown {
      margin-left: 10px;
      i {
        font-size: 32px;
        height: 20px;
        line-height: 25px;

      }
    }
    .file_attach {
      margin-right: 10px;
    }
  }
}

@include breakpoint(small) {
  #banner_background {
    font-size: 11px;
    padding-top: 80px;
    &.active {
      padding-top: 150px;
    }
    .background1 {
      padding-top: 100px;
    }
    .background2 {
      padding-top: 50px;
    }
    #banner_upload {
      top: 10px;
      left: 45%;
      width: 100px;
      i {
        font-size: 48px;
      }
      img {
        width: 70px;
        height: 50px;
      }
    }
  }
  .detail-user {
    margin: -175px auto 0px;
    .item-user {
      //== structure
      .item-photo {
        width: 140px;
        @include user-avatar(120px, 120px, 3px);
        @include user-label(20px, 25px, 25px, 90px, 10px);
        .links {
          a {
            font-size: 25px;
            margin: 0 5px;
          }
        }

      }
      .item-info {
        width: calc(80% - 210px);
        padding-top: 45px;
        line-height: 20px;
        .item-name {
          font-size: 18px;
        }
      }
    }
    .nav-links {
      bottom: -55px;
      left: 0px;
      width: 100%;
      @include vendor('display', 'flex');
      a {
        flex: 1;
      }
    }
    .item-action {
      bottom: 25px;
    }
  }
  .ajax_form_filter {
    margin-top: 10px;
  }

  #view_user_info {
    margin-top: 10px;
    padding: 5px;
    span{
      line-height: 30px; }
    .group {
      position: absolute;
      top: 20px;
      right: 10px;
      text-align: center;
      i {
        font-size: 64px;
      }
    }
    .infos {

      .name {
        font-size: 18px;
        font-weight: bold;
      }
      .profession {
        font-size: 13px;
      }

      .value {
        font-weight: bold;
      }
      i {
        font-size: 18px;
        margin-right: 10px;
      }
    }
    .description{
      margin-top: 10px;
text-align:justify ;
    }
  }
}

@include breakpoint(xsmall) {
  #banner_background {
    font-size: 11px;
    padding-top: 80px;
    &.active {
      padding-top: 100px;
    }
    .background1 {
      padding-top: 80px;
    }
    .background2 {
      padding-top: 50px;
    }
    #banner_upload {
      top: 10px;
      left: 40%;
      width: 100px;
      i {
        font-size: 32px;
      }
      img {
        width: 70px;
        height: 50px;
      }
    }
  }
  .detail-user {
    margin: -135px auto 0px;
    .item-user {
      //== structure
      .item-photo {
        width: 100px;
        @include user-avatar(80px, 80px, 3px);
        @include user-label(13px, 15px, 15px, 60px, 5px);
        .links {
          a {
            font-size: 15px;
          }
        }

      }
      .item-info {
        width: calc(100% - 110px);
        padding-top: 20px;
        line-height: 20px;
        .item-name {
          font-size: 13px;
        }
      }
    }
    .nav-links {
      bottom: -55px;
      left: 0px;
      width: 100%;
      @include vendor('display', 'flex');
      a {
        flex: 1;
        padding: 2px 2px;
        .text {
          font-size: 11px;
        }
      }
    }
    .item-action {
    }
  }
}
