/*====================*\
//Categori social
\*====================*/

/*=======*/
.block-search .block-content {
  border: 2px solid #e0e0e0;
  border-bottom: none;
  padding: 40px;
  background-color: #ffffff;
}
.sticky-wrapper.is-sticky {
  .block-content {
    padding: 5px 10px;
  }
  .block-sorter {
    margin-top: 0;
    .total_product {
      display: none;
    }
  }
  .block-filter .block-content .search-dropdown {
    margin-bottom: 0px;
  }
}



.block-products-items .block-title .filter-dropdown {
  float: right;
  margin-bottom: 15px;
}

.block-filter {
    z-index: 30;
    .navbar-collapse {
      padding: 0;
    }

  .block-content {
    border: 2px solid #e0e0e0;
    padding: 40px ;
    background-color: #ffffff;
    margin-bottom: 10px;
    .ajax-filter,.action-filter {
      display: inline-block;
    }
    .block-content-left{
      margin-top: 15px;
    }
    .search-dropdown {
      display: inline-block;
     /* vertical-align: top;
      margin-bottom: 12px;*/
      margin-right: 10px;
    }
    .block-total{
      text-align: right;
      margin-bottom: 10px;
    }
    .block-point{
      float: right;
      margin-right:10px;
    }
    .block-layout{
    float: right;
      margin-right:20px;
      margin-top: 2px;
    }

    .block-sorter{
      float: right;
      .total_product {
        margin-bottom: 10px;
      }
      .sort-dropdown {

        .search-rendered {
          line-height: 26px;
        }
        .dropdown-toggle {
          &:hover .search-rendered, &:focus .search-rendered {
            line-height: 26px;
          }
        }

      }
    }

    .slider.slider-horizontal {
      width: 100px !important;
      margin-top: 5px;
    }

  }
  .filter-dropdow .search-dropdown .search-rendered {
    font-size: 13px;
    line-height: 26px;
  }
}
.block-post {
  .block-content {
    border: 2px solid #e0e0e0;
    padding: 10px  40px;
    background-color: #ffffff;
    margin-bottom: 10px;
   img {
      border-radius: 100%;
      display: inline-block;
      height: 100px;
      margin-bottom: 5px;
      transition: all 1s ease 0s;
      width: 100px;
    }
    .message{
    margin-top: 40px;
    }
    .btn{
      margin-top: 30px;

    }
  }
}
.block-search {
  margin: 0px;
  padding: 0px;
  .block-title {
    line-height: 20px;
    padding: 0;
    margin-bottom: 7px;
    .modal-edit-search, .modal-save-search {
      width: 15px;
      height: 15px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
    }
    .modal-edit-search {
      background-image: url(../img/icon/history-1.png);
      &:hover {
        background-image: url(../img/icon/history-2.png);
      }
      &:focus {
        background-image: url(../img/icon/history-3.png);
      }
    }
    .modal-save-search {
      background-image: url(../img/icon/save-search.png);
      &:hover {
        background-image: url(../img/icon/save-search-2.png);
      }
      &:focus {
        background-image: url(../img/icon/save-search-3.png);
      }
    }
  }
  .block-content {
    .input-group {
      width: calc(100% - 162px);
      width: -moz-calc(100% - 162px);
      width: -webkit-calc(100% - 162px);
      width: -o-calc(100% - 162px);
      float: left;
      position: relative;
      background-color: #ffffff;
      width: calc(100% - 225px);
      width: -moz-calc(100% - 225px);
      width: -webkit-calc(100% - 225px);
      width: -o-calc(100% - 225px);
      input {
        &.input-clear {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url(../img/icon/da-xem-xong-1.png);
          &:hover {
            background-image: url(../img/icon/da-xem-xong-2.png);
          }
        }
        &.input-text {
          padding-right: 40px;
          &:focus + input.input-clear, &[keepfocus] + input.input-clear, &[autofocus] + input.input-clear {
            background-image: url(../img/icon/da-xem-xong-2.png);
          }
          &:focus + input.input-clear + .dropdown-menu, &[keepfocus] + input.input-clear + .dropdown-menu, &[autofocus] + input.input-clear + .dropdown-menu {
            display: block;
          }
        }
      }
      .dropdown-menu {
        width: 100%;
        &:before, &:after {
          content: none;
        }
      }
    }
    .action {
      width: 140px;
      float: right;
      background-color: #ffffff;
      width: 200px;
      button {
        padding-left: 0;
        padding-right: 0;
        display: block;
        width: 100%;
      }
    }
  }
}

.form-search .select2-container {
  .select2-selection--multiple {
    border: 2px solid #e0e0e0;
    border-radius: 0;
    min-height: 40px;
    .select2-selection__choice__remove {
      color: #fff;
      &:hover {
        color: #f7941e;
      }
    }
  }
  &.select2-container--focus .select2-selection--multiple, &.select2-container--open .select2-selection--multiple {
    border: 2px solid #f7941e;
  }
  &.select2-container--focus + input.input-clear, &.select2-container--open + input.input-clear {
    background-image: url(../img/icon/da-xem-xong-2.png);
  }
}



.list-social {
  margin-bottom: 40px;
 /* background-color: #ffffff;
  border: 1px solid #e0e0e0;*/
  color: #666;
}


.item-social {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 35px 25px 25px 35px;
  margin-bottom: 10px;
  position: relative;
  display: block;
  //== structure
  .item-photo {
    display: block;
    position: relative;
    overflow: hidden;
    width: 130px;
    float: left;
    margin-right: 20px;
    .item-img {
      text-align: center;
      display: inline-block;
      img {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-bottom: 5px;
        border-radius: 100%;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
      }
    }
  }
  .item-info {
    float: left;
    width: calc(60% - 130px);
    &-full {
     /* width: calc(98% - 130px);*/
      .item-meta{
        width: 50%;
        float: left;
      }
      .item-action{
        width: 50%;
        float: right;
      }
    }
  }
  .item-media {
    float: right;
    width: 35%;
    .product-images .owl-dots {
      bottom: 40px;
    }
    .product-images .owl-carousel .owl-item img {
      margin: 0 auto;
    }

  }
  .item-name {
    display: block;
    color: #000;
    font-weight: 500;
    line-height: 1;
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: capitalize;
    a {
      /*  color: #000;*/
    }
  }
  //== detail
  .item-desc {
    margin-bottom: 10px;
    display: block;
  }

  .item-meta {
    width: 100%;
    display: flex;
    color: #666;
    font-weight: 300;
    margin-bottom: 5px;
    line-height: 48px;
    span {
      margin-right: 20px;
    }
    .do_action {
      font-size: 48px;
      cursor: pointer;
    }
  }
  .item-actions {
    width: 100%;
    text-align: right;
    .btn{
      margin-right: 10px;
    }
    a {
      .fa {
        margin-right: 5px;
      }
    }
    .dropdown-menu{
      margin-top: 20px;
    }
  }

  .item-vote {
    margin-bottom: 9px;
    .vote-count {
      display: block;
      clear: both;
    }
    .vote-result {
      display: block;
      clear: both;
      margin-bottom: 5px;
    }
    .vote-count {
      font-size: 13px;
      line-height: 14px;
      span {
        color: #666;
      }
    }
    .vote-result > span {
      color: #17aa1c;
    }
  }

  .item-price {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 6px;
    .old-price {
      font-weight: 300;
      text-decoration: line-through;
      margin-left: 5px;
    }
  }
  .item-info-price {
    position: absolute;
    right: 25px;
    bottom: 10px;
  }

}
