/*====================*\
//Categori social
\*====================*/

/*=======*/
.sticky-wrapper.is-sticky {
  .block-content {
    padding: 5px 10px;
  }
  .block-sorter {
    margin-top: 0;
    .total_product {
      display: none;
    }
  }
  .block-filter .block-content .search-dropdown {
    margin-bottom: 0px;
  }
}

.block-filter {
  z-index: 30;
  .navbar-collapse {
    padding: 0;
  }

  .block-content {
    border: 2px solid #e0e0e0;
    padding: 40px;
    background-color: #ffffff;
    margin-bottom: 10px;
    .ajax-filter, .action-filter {
      display: inline-block;
    }

    .block-content-left {
      margin-top: 15px;
      display: flex;
      .btn-clear-all{
        font-weight: bolder;
        text-transform: capitalize;
        line-height: 40px;
      }
    }
    .search-dropdown {
      display: inline-block;
      /* vertical-align: top;
       margin-bottom: 12px;*/
      margin-right: 10px;
    }
    .block-total {
      text-align: right;
      margin-bottom: 10px;
      span {
        font-weight: bold;
        font-size: 25px;
      }
    }
    .block-point {
      float: right;
      margin-right: 10px;
    }
    .block-layout {
      float: right;
      margin-right: 20px;
      margin-top: 2px;
    }

    .block-sorter {
      float: right;
      .total_product {
        margin-bottom: 10px;
      }
      .sort-dropdown {

        .search-rendered {
          line-height: 26px;
        }
        .dropdown-toggle {
          &:hover .search-rendered, &:focus .search-rendered {
            line-height: 26px;
          }
        }

      }
    }

    .slider.slider-horizontal {
      width: 100px !important;
      margin-top: 5px;
    }

  }
  .filter-dropdow .search-dropdown .search-rendered {
    font-size: 13px;
    line-height: 26px;
  }
}

.block-post {
  .block-content {
    border: 2px solid #e0e0e0;
    padding: 10px 40px;
    background-color: #ffffff;
    margin-bottom: 10px;
    img {
      border-radius: 100%;
      display: inline-block;
      height: 100px;
      margin-bottom: 5px;
      transition: all 1s ease 0s;
      width: 100px;
    }
    .message {
      margin-top: 40px;
    }
    .btn {
      margin-top: 30px;

    }
  }
}

.block-search {
  margin: 0px;
  padding: 0px;
  .block-title {
    line-height: 20px;
    padding: 0;
    margin-bottom: 7px;
    .modal-edit-search, .modal-save-search {
      width: 15px;
      height: 15px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
    }
    .modal-edit-search {
      background-image: url(../img/icon/history-1.png);
      &:hover {
        background-image: url(../img/icon/history-2.png);
      }
      &:focus {
        background-image: url(../img/icon/history-3.png);
      }
    }
    .modal-save-search {
      background-image: url(../img/icon/save-search.png);
      &:hover {
        background-image: url(../img/icon/save-search-2.png);
      }
      &:focus {
        background-image: url(../img/icon/save-search-3.png);
      }
    }
  }
  .block-content {
    border: 2px solid #e0e0e0;
    border-bottom: none;
    padding: 40px;
    background-color: #ffffff;
    .input-group {
      width: calc(100% - 162px);
      width: -moz-calc(100% - 162px);
      width: -webkit-calc(100% - 162px);
      width: -o-calc(100% - 162px);
      float: left;
      position: relative;
      background-color: #ffffff;
      width: calc(100% - 225px);
      width: -moz-calc(100% - 225px);
      width: -webkit-calc(100% - 225px);
      width: -o-calc(100% - 225px);
      input {
        &.input-clear {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url(../img/icon/da-xem-xong-1.png);
          &:hover {
            background-image: url(../img/icon/da-xem-xong-2.png);
          }
        }
        &.input-text {
          padding-right: 40px;
          &:focus + input.input-clear, &[keepfocus] + input.input-clear, &[autofocus] + input.input-clear {
            background-image: url(../img/icon/da-xem-xong-2.png);
          }
          &:focus + input.input-clear + .dropdown-menu, &[keepfocus] + input.input-clear + .dropdown-menu, &[autofocus] + input.input-clear + .dropdown-menu {
            display: block;
          }
        }
      }
      .dropdown-menu {
        width: 100%;
        &:before, &:after {
          content: none;
        }
      }
    }
    .action {
      width: 140px;
      float: right;
      background-color: #ffffff;
      width: 200px;
      button {
        padding-left: 0;
        padding-right: 0;
        display: block;
        width: 100%;
      }
    }
  }
}

.block-products-items {
  /*background-color: #fff;
  padding: 15px;*/
  /*margin-top: 10px;*/
  margin-bottom: 20px;

  .block-title {
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    &:before {
      content: "";
      display: table;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .title {
      float: left;
    }
  }
  .list-social {
    margin-bottom: 40px;
    /* background-color: #ffffff;
     border: 1px solid #e0e0e0;*/
    color: #666;
    .item-social {
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      padding: 35px 25px 25px 35px;
      margin-bottom: 10px;
      position: relative;
      display: block;
      &.status-off,&.status-draft {
        background-color: #efefef;

      }
      .label {
        position: absolute;
        top: 0;
        left: 0;
        &-status-off,&-status-draft  {
          background-color: #777;
        }
      }
      //== structure
      .item-photo {
        display: block;
        position: relative;
        overflow: hidden;
        width: 130px;
        float: left;
        margin-right: 20px;
        .item-img {
          text-align: center;
          display: grid;
          text-transform: capitalize;
          img {
            margin:  0 auto;
            width: 100px;
            height: 100px;
            margin-bottom: 5px;
            border-radius: 100%;
            -webkit-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
          }
          .name {

          }
          .profession {
            color: #90949c;
            font-size: 12px;
          }
        }
      }
      .item-info {
        float: left;
        width: calc(60% - 130px);
        &-full {
          float: left;
           width: calc(98% - 130px);
          .item-meta {
            width: 50%;
            float: left;
          }
          .item-action {
            width: 50%;
            float: right;
          }
        }
      }
      .item-media {
        float: right;
        width: 35%;
        .images {
          display: inline-block;
          height: auto;
          margin: 0 auto;
          position: relative;
          width: 100%;
          .over {
            position: absolute;
            bottom: 0px;
            right: 0px;
            background: #fff;
            opacity: .9;
            padding: 10px;
            font-size: 18px;
            font-weight: bolder;
          }
          .item {
            float: left;
            width: 100%;
            position: relative;
            img {
              width: 100%;
              padding: 1px;
              height: 200px;

            }
            iframe {
              width: 100%;
              height: 300px;
              padding: 1px;
            }
            .item-video {
              .item-video-icon {
                cursor: pointer;
                &::after {
                  background-color: transparent;
                  background-image: url("../images/play.png");
                  background-position: center center;
                  background-repeat: no-repeat;
                  bottom: 0;
                  content: "";
                  left: 0;
                  position: absolute;
                  right: 0;
                  top: 0;
                  transition: all 0.3s ease 0s;
                }
              }
            }
          }
          &-2 {
            .item {
              width: 50%;
              img {
                height: 200px;
              }
            }
          }
          &-3 {
            .item {
              &-1 {
                width: 100%;
              }
              &-2, &-3 {
                width: 50%;
                img {
                  height: 80px;
                }
                .item-video {
                  .item-video-icon {
                    &::after {
                      background-size: 30px;
                    }
                  }
                }
              }
            }
          }
          &-4 {
            .item {
              &-1 {
                width: 100%;
              }
              &-2, &-3, &-4 {
                width: 33.3%;
                img {
                  height: 80px;
                }
                .item-video {
                  .item-video-icon {
                    &::after {
                      background-size: 30px;
                    }
                  }
                }
              }
            }
          }
          &-5 {
            .item {
              &-1, &-2 {
                width: 50%;
              }
              &-3, &-4, &-5 {
                width: 33.3%;
                img {
                  height: 80px;
                }
                .item-video {
                  .item-video-icon {
                    &::after {
                      background-size: 30px;
                    }
                  }
                }
              }
            }
          }
        }
        .media {
          border: 1px solid #eee;
          padding: 10px;
          min-height: 50px;
          a {
            color: _palette(text-3);
          }
        }

      }
      .item-name {
        display: block;
        color: #000;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
        text-transform: capitalize;
        a {
          /*  color: #000;*/
        }
      }
      .item-time {
        /*color: #90949c;*/
        color: #90949c;
        font-size: 12px;
      }
      //== detail
      .item-desc {
        border-bottom: 1px solid #eee;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 15px;
      }

      .item-meta {
        float: left;
        display: flex;
        color: #666;
        margin-bottom: 5px;
        line-height: 24px;
        font-size: 12px;
        span {
          margin-right: 20px;
        }

        a {
          &.do_action {
            font-size: 24px;
            cursor: pointer;
          }
          color: _palette(text-2);
          &:hover, &.active {
            color: _palette(button-2);
          }
        }
      }
      .item-actions {
        float: right;
        text-align: right;

        a {
          margin-right: 20px;
          color: _palette(text-2);
          &:hover, &.active {
            color: _palette(button-2);
          }
          .fa {
            margin-right: 5px;
          }
        }
        .dropdown-menu {
          margin-top: 20px;
          font-size: 11px;
          li > a {
            line-height: 15px;
            padding: 9px 10px;
          }
        }
      }
      .item-vote {
        margin-bottom: 9px;
        .vote-count {
          display: block;
          clear: both;
        }
        .vote-result {
          display: block;
          clear: both;
          margin-bottom: 5px;
        }
        .vote-count {
          font-size: 13px;
          line-height: 14px;
          span {
            color: #666;
          }
        }
        .vote-result > span {
          color: #17aa1c;
        }
      }
      .item-price {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 6px;
        .old-price {
          font-weight: 300;
          text-decoration: line-through;
          margin-left: 5px;
        }
      }
      .item-info-price {
        position: absolute;
        right: 25px;
        bottom: 10px;
      }
      .item-config {
        position: absolute;
        right: 5px;
        top: 0px;
        i {
          font-size: 22px;
        }
      }
      .item-comments {
        background: _palette(bg-2);
        padding: 10px 20px;
        .avatar {
          width: 30px;
          height: 30px;
        }
        textarea {
          float: left;
          height: 50px;
          width: 98%;
        }
      }

    }
  }

}




