/*====================*\
//Detail product
\*====================*/
.page-product-detail {
  /* background-color: #fff;*/
  .breadcrumb {
    margin-top: 0;
    background-color: transparent;
  }
  .site-main {
    padding-top: 0;
  }

  .product-navigation {
    margin-bottom: 20px;
    padding: 20px 0;
    height: 70px;
    line-height: 48px;
    .category {
      float: left;
      font-weight: bold;
    }
    .next-page {
      float: right;
      font-size: 48px;
    }
  }
  .detail-social {
    margin-bottom: 40px;
    color: #666;
    .item-media {
      width: 100%;
      margin-top: 10px;
      .images {
        display: inline-block;
        height: auto;
        margin: 0 auto;
        margin-bottom: 5px;
        position: relative;
        width: 100%;
        .over {
          position: absolute;
          bottom: 0px;
          right: 0px;
          background: #fff;
          opacity: .9;
          padding: 10px;
          font-size: 18px;
          font-weight: bolder;
        }
        .item {
          float: left;
          width: 100%;
          height: auto;
          position: relative;
          text-align: center;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
            padding: 1px;

          }
          iframe {
            width: 100%;
            height: 300px;
            padding: 1px;
          }
          .item-video {
            .item-video-icon {
              cursor: pointer;
              &::after {
                background-color: transparent;
                background-image: url("../images/play.png");
                background-position: center center;
                background-repeat: no-repeat;
                bottom: 0;
                content: "";
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                transition: all 0.3s ease 0s;
              }
            }
          }
        }
        &-1 {
          .item {
            img {
              width: auto;
            }
          }
        }
        &-2 {
          .item {
            width: 50%;
            height: 145px;
          }
        }
        &-3 {
          .item {
            &-1 {
              width: 100%;
              height: 145px;

            }
            &-2, &-3 {
              width: 50%;
              height: 80px;
              .item-video {
                .item-video-icon {
                  &::after {
                    background-size: 30px;
                  }
                }
              }
            }
          }
        }
        &-4 {
          .item {
            &-1 {
              width: 100%;
              height: 145px;

            }
            &-2, &-3, &-4 {
              width: 33.3%;
              height: 80px;
              .item-video {
                .item-video-icon {
                  &::after {
                    background-size: 30px;
                  }
                }
              }
            }
          }
        }
        &-5 {
          .item {
            &-1, &-2 {
              width: 50%;
              height: 145px;
            }
            &-3, &-4, &-5 {
              width: 33.3%;
              height: 80px;
              .item-video {
                .item-video-icon {
                  &::after {
                    background-size: 30px;
                  }
                }
              }
            }
          }
        }
      }
      .media {
        border: 1px solid #eee;
        padding: 10px;
        min-height: 50px;
        margin-bottom: 20px;
        a {
          color: _palette(text-3);
        }
      }
    }
    .item-actions {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      margin-top: 10px;
      width: 100%;
      text-align: right;
      display: flex;
      .btn {
        /* margin-right: 10px;*/
      }
      a {
        color: _palette(text-2);
        &:hover, &.active {
          color: _palette(button-2);
        }
        .fa {
          margin-right: 5px;
        }
      }
      .dropdown-menu {
        margin-top: 20px;
        font-size: 11px;
        li > a {
          line-height: 15px;
          padding: 9px 10px;
        }
      }
      .item-action {
        width: 33.3%;
        text-align: center;
        padding-top: 10px;
        border-right: 1px solid _palette(border);
        line-height: 40px;
        &:last-child {
          border-right: none;
        }

        i {
          font-size: 24px;
          cursor: pointer;
        }
      }
      .item-meta {
        float: left;
        display: flex;
        color: #666;
        font-size: 12px;
        span {
          margin: 0 10px;
        }

        a {
          margin-right: 8px;
          i {
            font-size: 32px;
            cursor: pointer;
          }
          color: _palette(text-2);
          &:hover, &.active {
            color: _palette(button-2);
          }
        }
      }
      .item-vote {
        margin-bottom: 9px;
        .vote-count {
          display: block;
          clear: both;
        }
        .vote-result {
          display: block;
          clear: both;
          margin-bottom: 5px;
        }
        .vote-count {
          font-size: 13px;
          line-height: 14px;
          span {
            color: #666;
          }
        }
        .vote-result > span {
          color: #17aa1c;
        }
      }
    }
    .item-overview {
      margin-top: 20px;
      text-align: justify;
    }


  }
  .block-info {
    border: 2px solid #e0e0e0;
    background-color: #fff;
    position: relative;
    margin-bottom: 20px;
    padding: 20px 30px 20px;
    /* &:hover {
       border-color: #f7941e;
     }*/
    .block-title {
      font-size: 24px;
      padding: 0;
      margin: 0;
    }
    .block-content {
      padding: 0;
      > .head {
        text-align: right;
        margin-bottom: 14px;
        > span {
          color: #f7941e;
          font-style: italic;
          padding-top: 4px;
          padding-top: 10px;
          vertical-align: top;
          display: inline-block;
        }
        .view-job {
          display: inline-block;
          vertical-align: top;
          height: 30px;
          padding-top: 10px;
          margin: 0;
          margin-left: 15px;
          .totip-job {
            left: auto;
            right: -43px;
            margin-top: 13px;
          }
        }
        .wish-job {
          vertical-align: top;
          display: inline-block;
          padding-top: 10px;
          margin: 0;
          margin-left: 15px;
        }
        .report {
          margin-left: 15px;
        }
      }
    }
  }
}



.block-author {
  border: 1px solid #ccc;
  background-color: #fff;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 40px;
  padding: 9px 10px 30px 10px;
  text-align: center;
  &:hover {
    border-color: #f60;
  }
  .block-title {
    font-size: 24px;
    padding: 0;
    margin: 0;
  }
  .block-content {
    padding: 0;
    .item-photo {
      width: 120px;
      margin:0px auto;
      margin-top: 20px;
      margin-bottom: 20px;
      @include user-avatar(120px,120px);
      @include user-label(30px,33px,33px,90px,0px);

    }

    .links {
      text-align: center;
      margin-bottom: 20px;
      a {
        font-size: 32px;
        margin: 0 5px;
      }
    }
    .name-cty {
      font-weight: bolder;
      text-transform: capitalize;
      font-size: 20px;
      display: block;
      margin-bottom: 5px;
      line-height: 25px;
      text-align: center;

    }
    .short-cty {
      font-style: italic;
      display: block;
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 25px;
      text-align: center;

    }
    .place {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 300px;

    }
    .item-list-tag {
      margin-top: 10px;
    }
    .item-meta {
      display: block;
      color: #666;
      font-weight: 300;
      margin-bottom: 5px;
      line-height: 25px;
      .places, .posts, .points, .follows {
        margin-right: 20px;
      }

      .do_action {
        font-size: 48px;
        cursor: pointer;
      }
    }
    .item-des {
      margin-bottom: 25px;
      text-align: justify;
    }
  }
  button.btn {
    font-style: italic;
  }
}


.block-author-post {
  margin-bottom: 30px;
  .block-title {
    display: block;
    text-transform: none;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 16px;
  }
  li {
    margin-bottom: 15px;
  }
}
