/*====================*\
//Detail product
\*====================*/
.page-product-detail {
  /* background-color: #fff;*/
  .breadcrumb {
    margin-top: 0;
    background-color: transparent;
  }
  .site-main {
    padding-top: 0;
  }

  .product-navigation {
    margin-bottom: 20px;
    padding: 20px 0;
    height: 70px;
    line-height: 48px;
    .category {
      float: left;
      font-weight: bold;
    }
    .next-page {
      float: right;
      font-size: 48px;
    }
  }
  .detail-social {
    margin-bottom: 40px;
    color: #666;

    .item-meta {
      display: flex;
      color: #666;
      font-weight: 300;
      margin-bottom: 5px;
      line-height: 48px;
      span {
        margin-right: 20px;
      }
      .do_action {
        font-size: 48px;
        cursor: pointer;
      }
    }
    .item-overview {
      margin-top: 20px;
      text-align: justify;
    }


  }
  .block-info {
    border: 2px solid #e0e0e0;
    background-color: #fff;
    position: relative;
    margin-bottom: 20px;
    padding: 20px 30px 20px;
    /* &:hover {
       border-color: #f7941e;
     }*/
    .block-title {
      font-size: 24px;
      padding: 0;
      margin: 0;
    }
    .block-content {
      padding: 0;
      > .head {
        text-align: right;
        margin-bottom: 14px;
        > span {
          color: #f7941e;
          font-style: italic;
          padding-top: 4px;
          padding-top: 10px;
          vertical-align: top;
          display: inline-block;
        }
        .view-job {
          display: inline-block;
          vertical-align: top;
          height: 30px;
          padding-top: 10px;
          margin: 0;
          margin-left: 15px;
          .totip-job {
            left: auto;
            right: -43px;
            margin-top: 13px;
          }
        }
        .wish-job {
          vertical-align: top;
          display: inline-block;
          padding-top: 10px;
          margin: 0;
          margin-left: 15px;
        }
        .report {
          margin-left: 15px;
        }
      }
    }
  }
}



.block-author {
  border: 1px solid #ccc;
  background-color: #fff;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 40px;
  padding: 9px 10px 30px 10px;
  text-align: center;
  &:hover {
    border-color: #f60;
  }
  .block-title {
    font-size: 24px;
    padding: 0;
    margin: 0;
  }
  .block-content {
    padding: 0;
    .logo-cty {
      text-align: center;
      /*padding-top: 23px;*/
      margin-bottom: 10px;
      img {
        display: inline-block;
        max-width:150px ;
        border-radius: 100%;
      }
    }
    .links {
      text-align: center;
      margin-bottom: 20px;
      a {
        font-size: 32px;
        margin: 0 5px;
      }
    }
    .name-cty {
      font-weight: bolder;
      text-transform: capitalize;
      font-size: 20px;
      display: block;
      margin-bottom: 5px;
      line-height: 25px;
      text-align: center;

    }
    .short-cty {
      font-style: italic;
      display: block;
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 25px;
      text-align: center;

    }
    .place {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 300px;

    }
    .item-list-tag {
      margin-top: 10px;
    }
    .item-meta {
      display: block;
      color: #666;
      font-weight: 300;
      margin-bottom: 5px;
      line-height: 25px;
      span {
        margin-right: 20px;
      }
      .do_action {
        font-size: 48px;
        cursor: pointer;
      }
    }
    .item-des {
      margin-bottom: 25px;
      text-align: justify;
    }
  }
  button.btn {
    font-style: italic;
  }
}


.block-author-post {
  margin-bottom: 30px;
  .block-title {
    display: block;
    text-transform: none;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 16px;
  }
  li {
    margin-bottom: 15px;
  }
}
