/*====================*\
//single blog
\*====================*/
//
//   item post blog
//--------------------------------------

.item {
	&-blog {
		position: relative;
		margin-bottom: 20px;
	}
	&-blog &{
		&-category {
			background-color: $color-theme;
			font-style: italic;
			line-height: 30px;
			padding: 0 15px;
			min-width: 133px;
			color: #fff;
			display: inline-block;
			margin-bottom: -2px;
			z-index: 2;
			position: relative;
			font-size: 14px;
			a {
				color: #fff;
				&:hover {
					color: #fff;
				}
			}
		}
		&-thumbnail {
			position: relative;
			border-width: 0;
			border-style: solid;
			border-color: $color-border;
			img {
				width: 100%;
			}
		}
		&-title {
			padding: 15px 40px;
			background-color: rgba(84, 84, 84, 0.85);
			color: #fff;
			display: block;
			position: absolute;
			top: 25px;
			left: -1px;
			right: -1px;
			font-size: 24px;
			a {
				color: #fff;
			}
		}
		&-meta {
			background-color: #f9f9f9;
			border-width: 0 2px 2px;
			border-style: solid;
			border-color: $color-border;
			padding: 15px 20px 15px 40px;
			font-size: 13px;
			.author {
				span {
					color: $color-theme;
					padding-right: 10px;
				}
				&:before {
					content: "\f007";
					font-family: 'FontAwesome';
					color: $color-theme;
					padding-right: 7px;
					font-size: 16px;
				}
			}
			.date {
				margin-right: 15px;
				&:before {
					content: "\f073";
					font-family: 'FontAwesome';
					color: $color-theme;
					padding-right: 7px;
					font-size: 16px;
				}
			}
			.share {
				margin-top: -5px;
				.view-job {
					> a{
						height: 25px;
					}
					.totip-job {
						
						padding: 10px;
						left: -42px;
						top: -54px;
					}
				}
			}
		}
		&-content {
			padding: 15px 20px 15px 40px;
			border-width: 0 2px 2px;
			border-style: solid;
			border-color: $color-border;
			background-color: #fff;
			font-size: 14px;
			.descaption {
				margin-bottom: 20px;
			}
			.see-more {
				display: inline-block;
				color: $color-theme;
				&:after {
					content: "\f105";
					font-family: 'FontAwesome';
					padding-left: 7px;
				}
				&:hover {
					color: $color-theme-hover;
				}
				&:focus {
					color: $color-theme-focus;
				}
			}
		}
	}
}

//
//   item post tác giả
//--------------------------------------
.item {
	&-tac-gia {
		border: 1px solid $color-border;
		padding: 25px 25px;
		margin-bottom: 30px;
	}
	
	&-tac-gia &{
		&-thumbnail {
			width: 160px;
			float: left;
			padding-right: 40px;
			text-align: center;
			img {
				border-radius: 100%;
				border: 6px solid $color-border;
				width: 100%;
				max-width: 117px;
				margin-bottom: 10px;
				.transition(0.3s );
			}
			&:hover {
				img {
					border-color: $color-theme-hover;
				}
			}
			.btn {
				width: 100px;
				padding: 0;
				font-style: italic;
				text-transform: capitalize;
				&.disabled {
					border-color: $color-theme-focus;
					color: $color-theme-focus;
				}
				&:focus{
					border-color: $color-border;
					color: $color-theme;
				}
				&.follow {
					border-color: $color-theme;
					color: $color-theme;
				}
			}
		}

		&-title {
			color: $color-theme;
			display: block;
			margin-bottom: 10px;
			font-weight: $font-medium;
		}

		&-name {
			display: block;
			font-weight: $font-medium;
			color: $color-theme;
		}

		&-content {
			width: calc(~"100% - "160px);
			width: -moz-calc(~"100% - "160px);
			width: -webkit-calc(~"100% - "160px);
			width: -o-calc(~"100% - "160px);
			float: right;
			.author {
				display: block;
				font-style: italic;
				margin-bottom: 15px;
				span {
					font-weight: $font-medium;
				}
			}
			.descaption {
				margin-bottom: 15px;
			}
			.see-more {
				display: inline-block;
				color: $color-theme;
				&:hover {
					color: $color-theme-hover;
				}
				&:focus {
					color: $color-theme-focus;
				}
			}
		}
	}
}

//
//   bài post chi tiết
//--------------------------------------
.item {
	&-blog & {
		&-tac-gia {
			border: none;
			margin-bottom: 0;
			padding: 0;
			.item-content {
				padding: 0;
				border: none;
			}
			.descaption {
				margin-bottom: 0;
			}
		}
	}
}
//
//   comments bài post
//--------------------------------------
#comments {
	padding: 25px;
}