

.btn {
  border-radius: 1px;
  text-transform: capitalize;
  border-width: 2px;
  border-style: solid;
 /* padding: 0 40px;
  line-height: 27px;*/
  font-weight: 600;
  &.form-control-feedback {
    border: none;
    pointer-events: auto;
  }
  &:focus {
    outline: none;
  }

  &:active, &.active {
    box-shadow: none;
  }
  &-round{
    border-radius: 40px;
    padding:2px 10px;
  }
}


/*a.btn, span.btn {
  height: auto;
  line-height: 36px;
}

a.btn:hover, span.btn:hover {
  border-width: 3px;
  padding-left: 39px;
  padding-right: 39px;
  line-height: 34px;
}

a.btn-sm, span.btn-sm {
  height: auto;
  line-height: 31px;
  padding: 0 15px;
}

a.btn-sm:hover, span.btn-sm:hover {
  border-width: 3px;
  padding-left: 14px;
  padding-right: 14px;
  line-height: 29px;
}

a.btn.btn-link, span.btn.btn-link {
  padding-left: 10px;
  padding-right: 10px;
}

a.btn.btn-link:hover, span.btn.btn-link:hover, a.btn.btn-link:focus, span.btn.btn-link:focus {
  padding-left: 9px;
  padding-right: 9px;
}
*/
.btn-default {
  color: #ffffff;
  background-color: _palette(button-1);
  border-color: _palette(button-1);
  &:hover {
    color: #ffffff;
    background-color: _palette(button-2);
    border-color: _palette(button-2);
  }
  &:focus {
    color: #ffffff;
    background-color: _palette(button-3);
    border-color: _palette(button-3);
  }
  &.focus, &:active, &.active {
    color: #ffffff;
    background-color: _palette(button-2);
    border-color: _palette(button-2);
  }
  &:active:focus{
    color: #ffffff;
    background-color: _palette(button-2);
    border-color: _palette(button-2);
  }
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
  background-color: _palette(button-2);
  border-color: _palette(button-2);
  color: #ffffff;
}

.open .btn-default.dropdown-toggle {
  color: #ffffff;
  background-color: _palette(button-2);
  border-color: _palette(button-2);
}


.open .btn-default.dropdown-toggle {
  background-image: none;
}


.btn-default .badge {
  color: _palette(button-1);
  background-color: #ffffff;
}

.btn-outline {
  color: _palette(button-1);
  background-color: transparent;
  border-color: #e0e0e0;
  &:hover {
    color: _palette(button-3);
    background-color: transparent;
    border-color: #ccc;
  }
  &:focus {
    color: _palette(button-2);
    background-color: transparent;
    border-color: #ccc;
  }
  &.focus, &:active, &.active {
    color: _palette(button-3);
    background-color: transparent;
    border-color: #ccc;
  }
  &:active:focus{
    color: #ffffff;
    background-color: _palette(button-2);
    border-color: #ccc;
  }
}

.open .btn-outline.dropdown-toggle {
  color: _palette(button-3);
  background-color: transparent;
  border-color: _palette(button-3);
}

.btn-outline {
  .badge {
    color: transparent;
    background-color: _palette(button-1);
  }
 /* &:focus {
    border-style: dotted;
  }*/
}

.btn-inline {
  color: _palette(button-1);
  background-color: transparent;
  border-color: transparent;
  &:hover {
    color: _palette(button-2);
    background-color: transparent;
    border-color: transparent;
  }
  &:focus {
    color: _palette(button-3);
    background-color: transparent;
    border-color: transparent;
  }
  &.focus, &:active, &.active {
    color: _palette(button-2);
    background-color: transparent;
    border-color: transparent;
  }
  &:active:focus{
    color: _palette(button-2);
    background-color: transparent;
    border-color: transparent;
  }
}

.open .btn-inline.dropdown-toggle {
  color: _palette(button-2);
  background-color: transparent;
  border-color: transparent;
}

.btn-inline {
  &:active, &.active {
    background-image: none;
  }
}

.open .btn-inline.dropdown-toggle {
  background-image: none;
}

.btn-inline .badge {
  color: transparent;
  background-color: _palette(button-1);
}

.btn-default2 {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
  &:hover, &:focus, &.focus, &:active, &.active {
    color: #ffffff;
    background-color: #999999;
    border-color: #999999;
  }
}

.open .btn-default2.dropdown-toggle {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

.btn-default2 {
  &:active, &.active {
    background-image: none;
  }
}

.open .btn-default2.dropdown-toggle {
  background-image: none;
}

.btn-default2 .badge {
  color: #999999;
  background-color: #ffffff;
}

.btn-link {
  color: _palette(button-1);
  background-color: transparent;
  border-color: transparent;
  &:hover {
    color: _palette(button-2);
    background-color: transparent;
    border-color: transparent;
  }
  &:focus {
    color: _palette(button-3);
    background-color: transparent;
    border-color: transparent;
  }
  &.focus, &:active, &.active {
    color: _palette(button-2);
    background-color: transparent;
    border-color: transparent;
  }
  &:active:focus{
    color: _palette(button-2);
    background-color: transparent;
    border-color: transparent;
  }
}

.open .btn-link.dropdown-toggle {
  color: _palette(button-2);
  background-color: transparent;
  border-color: transparent;
}

.btn-link {
  &:active, &.active {
    background-image: none;
  }
}

.open .btn-link.dropdown-toggle {
  background-image: none;
}

.btn-link .badge {
  color: transparent;
  background-color: _palette(button-1);
}


.btn-rounded {
  border-radius: 20px;
}


button {
  &.btn {
    height: 40px;
    line-height: 1;
    &:hover {
      border-width: 3px;
      padding-left: 39px;
      padding-right: 39px;
    }
  }
  &.btn-sm {
    height: 35px;
    padding: 0 15px;
    &:hover {
      border-width: 3px;
      padding-left: 14px;
      padding-right: 14px;
    }
  }
  &.btn.btn-link {
    padding-left: 10px;
    padding-right: 10px;
    &:hover, &:focus {
      padding-left: 9px;
      padding-right: 9px;
    }
  }
}