.comment{
  margin: 20px 0;
}
.comment-list {
  font-size: 12px;
  img {
    border-radius: 100%;
  }
  li {
    border-bottom: 1px dashed #ccc;
    line-height: 18px;
    padding: 15px 0 10px;
    &:last-child {
      border-bottom: none;
    }
  }
  .avatar {
    float: left;
    margin-bottom: 12px;
    margin-right: 12px;
    width: 35px;
    height: 35px;
    max-width: none;

  }
  .name {
    font-weight: bold;
  }
  .time, .date {
    color: _palette(text-2);
    display: inline-block;
  }
  .comment-content {
    /* clear: both;*/
    display: block;
    line-height: 18px;
    margin-bottom: 5px;
  }
  .view {
    color: #76ac0b;
    font-size: 13px;
    line-height: 18px;
    i {
      color: #d8d8d8;
      font-size: 12px;
    }
  }
  .star {
    display: inline-block;
    margin-bottom: 4px;
    margin-top: 4px;
    vertical-align: top;
    width: 120px;
    img {
      padding-bottom: 5px;
    }
  }
  .comment-action {
    display: flex;
    line-height: 32px;
    margin-bottom: 5px;
    .action_vote_group {
      margin-right: 10px;
      a{
        &.do_action{
          font-size: 24px;
          cursor: pointer;
        }
        color: _palette(text-2);
        &:hover,&.active {
          color: _palette(button-2);
        }
      }
    }
    .points{
      margin-right: 10px;

    }

  }

}