.slider .slider-handle {
  background-image: linear-gradient(to bottom, #f7941e 0px, #f7941e 100%);
  width: 25px;
  height: 25px;
  margin-left: 0;
  margin-top: 3px;
  top: -5px;
  cursor: pointer;
}
