/*====================*\
//Categori product
\*====================*/
.page-header-wrapper {
	font-size: 12px;
	font-weight: $font-medium;
	.ket-qua-job {
		display: block;
		color: #fff;
		line-height: 40px;
		padding-left: 37px;

		span {
			display: inline-block;
			padding: 0 7px;

		}
	}
	.sap-xep-job {
		float: right;

		.dropdown-menu {
			left: auto;
			right: 0;
			width: 270px;
		}
		.search-rendered {
			color: #fff;
		}
		.search-caret {
			background-image: url(../img/icon/arrow-down-mau-trang.png);
			padding-top: 0;
		}
		.dropdown-toggle {
			border-color: transparent;
		}
		select  {
			font-size: 12px;
			height: 40px;
			padding: 2px 20px 2px 12px;
			border: none;
			background-color: transparent;
			color: #fff;
			background-image: url(../img/icon/arrow-down-mau-trang.png);
			cursor: pointer;
		}
	}
}
//block search
.block {
	&-search {
		margin: 0px 0 40px;
		padding: 0 40px;
	}
	&-search & {
		&-title {
			line-height: 20px;
			padding: 0;
			margin-bottom: 7px;
			.modal-edit-search,
			.modal-save-search {
				width: 15px;
				height: 15px;
				display: inline-block;
				background-repeat: no-repeat;
				background-position: center;
			}
			.modal-edit-search {
				background-image: url(../img/icon/history-1.png);
				&:hover {
					background-image: url(../img/icon/history-2.png);
				}
				&:focus {
					background-image: url(../img/icon/history-3.png);
				}
			}
			.modal-save-search {
				background-image: url(../img/icon/save-search.png);
				&:hover {
					background-image: url(../img/icon/save-search-2.png);
				}
				&:focus {
					background-image: url(../img/icon/save-search-3.png);
				}
			}
		}
		&-content {
			padding: 0;
			.input-group {
				width: calc(~"100% - "162px);
				width: -moz-calc(~"100% - "162px);
				width: -webkit-calc(~"100% - "162px);
				width: -o-calc(~"100% - "162px);
				float: left;
				position: relative;
				background-color: $bg-theme2;
				.page-tim-tuyen-dung & {
					width: calc(~"100% - "225px);
					width: -moz-calc(~"100% - "225px);
					width: -webkit-calc(~"100% - "225px);
					width: -o-calc(~"100% - "225px);
				}
				input {
					
					&.input-clear {
						width: 40px;
						height: 40px;
						position: absolute;
						top: 0;
						right: 0;
						border: none;
						background-color: transparent;
						background-repeat: no-repeat;
						background-position: center;
						background-image: url(../img/icon/da-xem-xong-1.png);
						&:hover {
							background-image: url(../img/icon/da-xem-xong-2.png);
						}
					}
					&.input-text {
						padding-right: 40px;
						&:focus ,
						&[keepfocus],
						&[autofocus]{
							+ input.input-clear {
								background-image: url(../img/icon/da-xem-xong-2.png);
								+ .dropdown-menu {
									display: block;
								}
							}
						}
						&:hover {

						}
					}
				}
				.dropdown-menu {
					width: 100%;
					&:before,
					&:after {
						content: none;
					}
				}
			}
			.action {
				width: 140px;
				float: right;
				background-color: $bg-theme2;
				.page-tim-tuyen-dung & {
					width: 200px;
					button {
						padding-left: 0;
						padding-right: 0;
					}
				}
				button {
					display: block;
					width: 100%;
				}
			}
		}
	}
}

//form-search
.form-search {
	.select2 {
		&-selection--multiple {
			
		}
		&-container {
			.select2-selection--multiple {
				border: 2px solid $color-border;
				border-radius: 0;
				min-height: 40px;
				.select2-selection__choice__remove {
					color: #fff;
					&:hover {
						color: $color-theme;
					}
				}
			}
			&--default {
				
			}
			&.select2-container--focus,
			&.select2-container--open {
				.select2-selection--multiple {
					border: 2px solid $color-theme;

				}
				+ input.input-clear {
					background-image: url(../img/icon/da-xem-xong-2.png);
				} 
			}
		}
	}
}
.list-job {
	margin-bottom: 40px;
}
.page-tim-viec .columns {
	padding-bottom: 40px;
}
// blok cty sidebar left
.block {
	&-cty {
		border: 1px solid $color-border;
		margin-bottom: 8px;
		background-color: $bg-theme2;
		&:hover {
			border-color: $color-theme;
		}
	}
	&-cty &{
		&-title {
			display: none;
			padding: 0;
		}
		&-content {
			padding: 20px 10px 10px;
			text-align: center;
			.logo-cty {
				display: block;
				margin-bottom: 12px;
				img {
					display: inline-block;
				}
			}
			.name-cty {
				display: block;
			    font-size: 15px;
			    line-height: 20px;
			    margin-bottom: 4px;
			    font-weight: $font-medium;
			}
			.item-meta-cty {
				display: block;
				color: #999999;
			    font-size: 15px;
			    font-style: italic;
			    line-height: 20px;
			    margin-bottom: 7px;
			    text-transform: capitalize;
			}
			.name-thanh-vien {
				color: $color-font-base2;
				text-transform: capitalize;
			}
			hr {
				margin: 10px auto;
				width: 72%;
			}
			li{
				margin-bottom: 10px;
			}
			.name-job {
				display: block;
				text-align: center;
			    font-size: 15px;
			    text-transform: capitalize;
			    margin-bottom: 0px;
			}
			.meta-job {
				font-size: 12px;
				font-weight: $font-medium;
				color: $color-font-base2;
			}
		}
	}
}
.page-tim-thanh-vien {
	.block-cty .block-content {
		padding: 25px 10px 23px;
		.item-meta-cty {
			font-style: normal;
		}
		.dia-chi-job {
			width: 75px;
			overflow: hidden;
			white-space: nowrap;
			display: inline-block;
			vertical-align: top;
			text-overflow: ellipsis;
		}
	}
}
//filter
.block {
	&-filter & {

		&-title {
			display: none;
		}
		&-content {
			border: 1px solid $color-border;
			padding: 40px 40px 28px 40px;
			margin-bottom: 12px;
			background-color: $bg-theme2;
			.search-dropdown {
				display: inline-block;
				margin-right: 8px;
				vertical-align: top;
				margin-bottom: 12px;
			}
		}
	}
}

// block view cty sidebar right
.block {
	&-view-cty &{
		&-title {

		}
		&-content {
			.collapse {
				display: block;

			}
		}
	}
}

.page-moi-du-tuyen {
	
		
}
.page-tim-viec {
	.block-search {
		.block-title .text{
			font-size: 13px;
			color: $color-font-base2;
			text-transform: none;
			margin-bottom: 0;
		}
	}
	.page-title-wrapper {
		.title-page {
			margin-bottom: 10px;
			font-size: 23px;
			padding-left: 40px;
			margin-top: 38px;
		}
		.dropdown {
			float: right;
			background-color: #fff;
			margin-right: 40px;
			margin-top: 28px;
			width: 415px;
			margin-bottom: 10px;
			.page-viec-da-luu& {
				width: 270px;
			}
			.dropdown-toggle {
				max-width: 100%;
			}
			.dropdown-menu {
				width: 100%;
			}
			.search-caret {

			}
		}
	}
}

.page-tim-thanh-vien {
	.block-search .block-content .action {
		width: 163px;
		
		.btn  {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.block-search .block-content .input-group {
		width: calc(~"100% - "190px);
		width: -moz-calc(~"100% - "190px);
		width: -webkit-calc(~"100% - "190px);
		width: -o-calc(~"100% - "190px);
	}
}
.title-duyet {
	padding-top: 15px;
	.title {
		font-size: 23px;
	    font-weight: $font-medium;
	    line-height: 26px;
	    margin: 0;
	    text-transform: capitalize;
	    float: left;
	    padding-left: 37px;
	    margin-bottom: 15px;
	    margin-top: 25px;
	}
	.search-dropdown {
		
		.dropdown-toggle {
			background-color: #fff;
			width: 100%;
			max-width: 100%;
			padding-left: 17px;
		}
		.dropdown-menu {
			width: 100%;
			max-width: 100%;
		}
	}
	.ho-so {
		float: right;
		width: 520px;
		margin-bottom: 15px;
	}
	.ph-loai {
		float: right;
		width: 290px;
		margin-left: 11px;
		margin-bottom: 15px;
	}
}
